<form class="{{cssClass}} lancer-sheet" onsubmit="event.preventDefault();">
    {{{std-text-input "username" label="Comp/Con Username"}}}
    {{{std-password-input "password" label="Comp/Con Password"}}}
    <button class="dialog-button done-button">
        <i class="fas fa-save"></i>
        Login
    </button>
</form>
