<form class="{{cssClass}} lancer-sheet" onsubmit="event.preventDefault();">
    <div class="card">
        <span class="lancer-header">Edit Field:</span>

        <div class="big-editor">
            {{editor content=text target="text" button=false owner=true editable=true}}
        </div>

        <button class="dialog-button done-button">
            <i class="fas fa-save"></i>
            Save
        </button>
    </div>
</form>
