<div>
    <div class="flexcol">
        {{#each categories as |cat cat_index|}}
      <span class="lancer-header lancer-primary major">
                {{cat.label}}
            </span>
            {{#each cat.items as |item item_index|}}
              {{{item-preview (concat "categories." cat_index ".items." item_index) "delete" }}}
            {{/each}}
        {{/each}}
    </div>
</div>
