<form>
    <h2>Please select your two Stabilize actions</h2>
    <div class="flexcol stabilize-wrapper">
      <span style="align-self:center">OPTION 1</span> 
      <div class="flexrow">
        <input class="hidden radio-label stabilize-options-1" id="stab-option-cool" name="stabilize-options-1" type="radio" value="Cool" checked="checked">
        <label class="button-label" for="stab-option-cool">
          <span class="center-text">Cool Mech</span>
        </label>
        <input class="hidden radio-label stabilize-options-1" id="stab-option-restore" name="stabilize-options-1" type="radio" value="Repair">
        <label class="button-label" for="stab-option-restore">
          <span class="center-text">Restore HP</span>
        </label>
      </div>

      <span style="align-self: center;">OPTION 2</span> 
      <div class="flexrow">
        <input class="hidden radio-label stabilize-options-2" id="stab-option-reload" name="stabilize-options-2" type="radio" value="Reload" checked="checked">
        <label class="button-label" for="stab-option-reload">
          <span class="center-text">Reload</span>
        </label>
        <input class="hidden radio-label stabilize-options-2" id="stab-option-burn" name="stabilize-options-2" type="radio" value="ClearBurn">
        <label class="button-label" for="stab-option-burn">
          <span class="center-text">Clear Burn</span>
        </label>
        <input class="hidden radio-label stabilize-options-2" id="stab-option-clearown" name="stabilize-options-2" type="radio" value="ClearOwnCond">
        <label class="button-label" for="stab-option-clearown">
          <span class="center-text">Clear Own Condition</span>
        </label>
        <input class="hidden radio-label stabilize-options-2" id="stab-option-clearother" name="stabilize-options-2" type="radio" value="ClearOtherCond">
        <label class="button-label" for="stab-option-clearother">
          <span class="center-text">Clear Ally Condition</span>
        </label>
      </div>
    </div>
  </form>
  