<form class="{{cssClass}} lancer-sheet" onsubmit="event.preventDefault();">
	<div class="card clipped">
		<div class="lancer-header ">
			<i class="${icon} i--m i--light header-icon"> </i>
			<span class="major">TAG</span>
		</div>
		<div class="flexrow">
			<label>LID: <input name="name" value="{{ value.lid }}"/> </label>
			<label>Value: <input class="lancer-stat" type="number" name="val" value="{{ value.val }}" data-dtype="Number" /></label>
		</div>
	</div>
	{{> dialog-save-buttons}}
</form>