<form class="{{cssClass}} lancer-sheet" onsubmit="event.preventDefault();">
	<div class="card clipped">
		<div class="lancer-header lancer-primary ">
			<i class="${icon} i--m i--light header-icon"> </i>
			<span class="major">TAG</span>
		</div>
		<div class="flexrow flex-center">
			{{{std-select "lid" lid_options label="LID: "}}}
			<label for="val">Value: </label>
			<input class="lancer-stat" type="number" name="val" value="{{ value.val }}" data-dtype="Number" />
		</div>
	</div>
	{{> dialog-save-buttons}}
</form>