<div class="card clipped-bot" style="margin: 0px;">
  <div class="lancer-header lancer-primary">// {{upper-case title}} //</div>
  <div class="track-message lancer-action-grid">
    {{{description}}}
  </div>
</div>