<div class="card clipped-bot" style="margin: 0px;">
  <div class="lancer-header lancer-primary clipped-top">// {{title}} //</div>
  {{! Overcharge roll result }}
  <div class="dice-roll lancer-dice-roll" data-action="expandRoll">
    <div class="dice-result">
      <div class="dice-formula flexrow">
        {{result.roll.formula}}
        <span class="dice-total major">
          <div class="overcharge-heat-wrapper flexrow">
            {{result.roll.total}}
            <i class="cci cci-heat damage--heat"></i>
          </div>
        </span>
      </div>
      {{{result.tt}}}
    </div>
  </div>
</div>