<div class="card clipped-bot" style="margin: 0px;">
  <div class="lancer-header lancer-primary">{{localize "lancer.chat-card.title.check" check=title}}</div>
  {{{lancer-dice-roll result.roll result.tt ""}}}
  {{#if effect}}
    <header>{{localize "lancer.chat-card.title.effect"}}</header>
    {{{effect}}}
  {{/if}}
</div>