<div class="card clipped-bot" style="margin: 0px;">
  <div class="lancer-header lancer-primary">{{localize "lancer.chat-card.title.check" check=title}}</div>
  {{{lancer-dice-roll result.roll result.tt ""}}}
  {{#if effect}}
    <div class="lancer-header lancer-primary">{{localize "lancer.chat-card.title.effect"}}</div>
    <div class="effect-text">{{{effect}}}</div>
  {{/if}}
</div>