<div class="card clipped-top" style="margin: 0px;">
  <div class="lancer-header lancer-primary struct-stress clipped-top">// {{title}} //</div>
  {{{lancer-dice-roll result.roll result.tt ""}}}
  <div class="effect-text">
    {{desc}}
  </div>
</div>