@use "../variables" as *;

@layer lancer.components {
  /* ===== Custom drag-drop handling ===== */

  /* Editable is a built-in class on application windows containing editable sheets.
Here, this means we want to allow for drag stuff etc to show contextually if:
- We are dragging the appropriate type 
- The app is editable
- the box is a context-drop of the appropriate corresponding type
*/
  @each $e-type in $document-types {
    .drop-target-#{$e-type} {
      display: none;
    }

    .dragging-#{$e-type} .editable .drop-target-#{$e-type} {
      display: revert !important;
      height: 100%;
      z-index: 100;
    }
  }

  .lid-list {
    position: relative;
    min-height: 6em;
  }

  /* Glow effect courtesy of https://codepen.io/jackrugile/pen/ABeIi */
  @mixin glow {
    animation: glow-anim 800ms ease-out infinite alternate;
    background: #222922;
    background: linear-gradient(#333933, #222922);
    border-color: #393;
    box-shadow:
      0 0 5px rgba(0, 255, 0, 0.2),
      inset 0 0 5px rgba(0, 255, 0, 0.1),
      0 2px 0 #000;
    color: #efe;
    outline: none;
  }

  @keyframes glow-anim {
    0% {
      border-color: #393;
      box-shadow:
        0 0 5px rgba(0, 255, 0, 0.2),
        inset 0 0 5px rgba(0, 255, 0, 0.1),
        0 2px 0 #000;
    }
    100% {
      border-color: #6f6;
      box-shadow:
        0 0 20px rgba(0, 255, 0, 0.6),
        inset 0 0 10px rgba(0, 255, 0, 0.4),
        0 2px 0 #000;
    }
  }

  .line-drop-target {
    @include glow;
    align-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0;
    opacity: 95%;
    z-index: -100;
    transition: all 0.5s;
  }

  .slot:not(.set) {
    align-items: center;
  }
  /* ===== End Custom drag-drop handling ===== */
}
