@use "../mixins";

@layer lancer.components {
  .small-icon {
    flex-grow: 0;
    min-width: 1em;
    max-height: 1em;
  }

  .med-icon {
    flex-grow: 0;
    max-width: 2.5em;
    max-height: 2.5em;
  }

  .large-icon {
    flex-grow: 0;
    min-width: 5em;
    max-height: 5em;
  }

  .i--click {
    cursor: pointer;
  }

  .i--xs {
    @include mixins.icon-size(15px);
    @include mixins.vert-mid();
  }

  .i--s {
    @include mixins.icon-size(20px);
    @include mixins.vert-mid();
  }

  .i--sm {
    @include mixins.icon-size(25px);
    @include mixins.vert-mid();
  }

  .i--m {
    @include mixins.icon-size(30px);
    @include mixins.vert-mid();
  }

  .i--l {
    @include mixins.icon-size(40px);
    @include mixins.vert-mid();
  }

  .i--xl {
    @include mixins.icon-size(60px);
    @include mixins.vert-mid();
  }

  .size-icon,
  .tier-icon {
    @include mixins.icon-size(120px);
    @include mixins.vert-mid();
  }

  .faded {
    opacity: 75%;
  }

  .i--dark {
    color: var(--dark-text);
  }

  .i--light {
    color: var(--light-text);
  }

  .damage--kinetic {
    color: #616161;
  }

  .damage--energy {
    color: #2195ca;
  }

  .damage--explosive {
    color: #fca017;
  }

  .damage--burn {
    color: #ce871e;
  }

  .damage--heat {
    color: #e74210;
  }

  .damage--variable {
    color: #d500f9;
  }

  .size-icon {
    color: var(--primary-color, fuchsia);
  }
  .tier-icon {
    color: var(--light-text);
  }
}
