<form class="{{cssClass}} lancer-sheet" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="header-fields">
      <h1 class="charname"><input class="header-field" name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </div>
    {{{ ref-portrait-img actor.img "img" mm.ent }}}
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="lancer-tabs" data-group="primary">
    <a class="item lancer-tab medium" data-tab="status">&lt;STATUS&gt;</a>
    <a class="item lancer-tab medium" data-tab="config">&lt;CONFIG&gt;</a>
    <!--<a class="item lancer-tab medium" data-tab="mech">&lt;FRAME//LOADOUT&gt;</a>-->
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Active Tab --}}
    <div class="tab manage" data-group="primary" data-tab="status">
      <div class="wraprow quadruple">
        {{{stat-edit-max-card  "HP"          "mdi mdi-heart-outline"    "mm.ent.CurrentHP"      "mm.ent.MaxHP" }}}
        {{{stat-edit-max-card  "HEAT"        "cci cci-heat"             "mm.ent.CurrentHeat"    "mm.ent.HeatCapacity" }}}
        {{{stat-edit-card      "BURN"        "cci cci-burn"             "mm.ent.Burn" }}}
        {{{stat-edit-card      "OVERSHIELD"  "cci cci-heat"             "mm.ent.Overshield" }}}

        {{{stat-view-card      "SIZE"        (concat "mdi " mm.ent.SizeIcon)   "mm.ent.Size" }}}
        {{{stat-view-card      "ARMOR"       "mdi mdi-shield-outline"   "mm.ent.Armor" }}}
        {{{stat-view-card      "EVASION"     "cci cci-evasion"          "mm.ent.Evasion" }}}
        {{{stat-view-card      "E-DEF"       "cci cci-edef"             "mm.ent.EDefense" }}}

        {{{stat-view-card      "SPEED"       "mdi mdi-arrow-right-bold-hexagon-outline" "mm.ent.Speed" }}}
        {{{stat-view-card      "SAVE"        "cci cci-save"             "mm.ent.SaveTarget" }}}

        <div class="card clipped double">
          <div class="lancer-header  major">
            DEPLOYER
          </div>
          {{{deployer-slot "mm.ent.Deployer" }}}
        </div>

        {{!-- 
          {{{stat-edit-max-card  "REPAIRS"     "cci cci-repair"           "mm.ent.CurrentRepairs" "mm.ent.RepairCapacity" }}}
          {{{stat-view-card      "ATTACK"      "cci cci-heart"            "mm.ent.AttackBonus" }}}
          {{{stat-view-card      "TECH ATK"    "cci cci-tech-full"        "mm.ent.TechAttack" }}}
          {{{stat-view-card      "SENSORS"     "cci cci-sensor"           "mm.ent.SensorRange" }}}
        --}}
      </div>
    </div>

    {{!-- Config Tab --}}
    <div class="tab manage flexcol" data-group="primary" data-tab="config">
      {{!-- Description --}}
      <div class="flexcol card clipped" style="text-align: left;">
        <span class="lancer-header major " style="text-align: center;">DETAIL</span>
        <div class="desc-text">{{editor content=mm.ent.Detail target="mm.ent.Detail" button=true owner=owner editable=editable}}</div>
      </div>

      {{!-- Frame Stats --}}
      <div class="flexcol card clipped" style="text-align: left;">
        <span class="lancer-header major " style="text-align: center;">BASE STATS</span>
        <div class="card clipped mech-stats wraprow quadruple">
          {{{clicker-stat-card "MAX HP"          "mdi mdi-heart-outline"     "mm.ent.BaseMaxHP" }}}
          {{{clicker-stat-card "ARMOR"       "mdi mdi-shield-outline"    "mm.ent.BaseArmor" }}}
          {{{clicker-stat-card "REPAIRS"     "cci cci-repair"            "mm.ent.BaseRepairCap" }}}
          {{{clicker-stat-card "EVASION"     "cci cci-evasion"           "mm.ent.BaseEvasion" }}}

          {{{clicker-stat-card "E-DEF"       "cci cci-edef"              "mm.ent.BaseEDefense" }}}
          {{{clicker-stat-card "HEAT CAP"    "cci cci-heatcap"           "mm.ent.BaseHeatCap" }}}
          {{{clicker-stat-card "SPEED"       "mdi mdi-arrow-right-bold-hexagon-outline" "mm.ent.BaseSpeed" }}}
          {{{clicker-stat-card "TECH ATK"    "cci cci-tech-full"         "mm.ent.Stats.BaseTechAttack" }}}

          {{{clicker-stat-card "SENSORS"     "cci cci-sensor"            "mm.ent.BaseSensorRange" }}}
          {{{clicker-stat-card "SAVE"        "cci cci-save"              "mm.ent.BaseSave" }}}
          {{{clicker-stat-card "SIZE"        "cci cci-hexagon"           "mm.ent.BaseSize" }}}
          {{{clicker-stat-card "COST"        "cci cci-hexagon"           "mm.ent.Cost" }}}
        </div>
      </div>
    </div>
  </section>
</form>