<form class="{{cssClass}} lancer-sheet" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <img class="profile-img" src="{{actor.img}}" data-edit="actor.img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields" style="grid-area: 1/1/2/5;">
      <h1 class="charname"><input class="header-field" name="actor.name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  <div class="wraprow quad">
    {{{stat-edit-max-card  "HP"          "mdi mdi-heart-outline"    "mm.ent.CurrentHP"      "mm.ent.MaxHP" }}}
    {{{stat-edit-max-card  "HEAT"        "cci cci-heat"             "mm.ent.CurrentHeat"    "mm.ent.HeatCapacity" }}}
    {{{stat-view-card      "ARMOR"       "cci cci-armor"            "mm.ent.Armor" }}}
    {{{stat-edit-card      "OVERSHIELD"  "cci cci-heat"             "mm.ent.CurrentOvercharge" }}}
    {{{stat-edit-max-card  "REPAIRS"     "cci cci-repair"           "mm.ent.CurrentRepairs" "mm.ent.RepairCapacity" }}}
    {{{stat-view-card      "SIZE"        "mdi mdi-shield-outline"   "mm.ent.Armor" }}}

    {{{stat-view-card      "ARMOR"       "mdi mdi-shield-outline"   "mm.ent.Armor" }}}
    {{{stat-view-card      "EVASION"     "cci cci-evasion"          "mm.ent.Evasion" }}}
    {{{stat-view-card      "E-DEF"       "cci cci-edef"             "mm.ent.EDefense" }}}
    {{{stat-view-card      "SPEED"       "mdi mdi-arrow-right-bold-hexagon-outline" "mm.ent.Speed" }}}
    {{{stat-view-card      "TECH ATK"    "cci cci-tech-full"        "mm.ent.TechAttack" }}}
    {{{stat-view-card      "SENSORS"     "cci cci-sensor"           "mm.ent.SensorRange" }}}
    {{{stat-view-card      "SAVE"        "cci cci-save"             "mm.ent.SaveTarget" }}}
    {{{stat-view-card      "SYS POINTS"  "cci cci-system"           "mm.ent.MaxSP" }}}
    <div class="card clipped">
      {{{overcharge-button "mm.ent.CurrentOvercharge" }}}
    </div>


    <div class="card clipped triple">
      <div class="lancer-stat-header clipped-top flexrow">
        <i class="cci cci-pilot i--m i--light" style="float: left; padding-left: 10px"> </i>
        <span class="major">PILOT</span>
      </div>
      <div class="actor-ref-drop">
        {{{actor-slot "mm.ent.Pilot" "pilot"}}}
      </div>
    </div>
  </div>

  <div class="flexcol card clipped">
    <span class="lancer-stat-header major clipped-top">LOADOUT</span>
    {{{mech-loadout "mm.ent.Loadout"}}}
  </div>

  <div class="flexcol card clipped">
    <span class="lancer-stat-header major clipped-top">FRAMES</span>
    {{#each mm.ent.OwnedFrames as |frame|}}
      {{{ref-mm frame}}}
    {{/each}}
  </div>

  <div class="flexcol card clipped">
    <span class="lancer-stat-header major clipped-top">WEAPONS</span>
    {{#each mm.ent.OwnedWeapons as |weapon|}}
      {{{ref-mm weapon}}}
    {{/each}}
  </div> 
  
  <div class="flexcol card clipped">
    <span class="lancer-stat-header major clipped-top">SYSTEMS</span>
    {{#each mm.ent.OwnedSystems as |system|}}
      {{{ref-mm system}}}
    {{/each}}
  </div>

  <div class="flexcol card clipped">
    <span class="lancer-stat-header major clipped-top">MODS</span>
    {{#each mm.ent.OwnedWeaponMods as |mod|}}
      {{{ref-mm mod}}}
    {{/each}}
  </div>
</form>