<form class="{{cssClass}} lancer-sheet" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="header-fields" style="grid-area: 1/1/2/4;">
      <h1 class="charname"><input class="header-field" name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </div>
    <div class="details flexcol" style="grid-area: 1/4/4/4">
      <span>TIER</span>
      {{#if mm.ent.Tier}}
      <i class="cci cci-{{mm.ent.Tier}} tier-icon theme--npc"></i>
      {{/if}}
    </div>

    <div class="details flexcol">
      <span>CLASS:</span>
      <span class="major">
        {{#if mm.ent.ActiveClass}}
          {{mm.ent.ActiveClass.Name}}
        {{else}}
          NO CLASS FOUND
        {{/if}}
      </span>
    </div>
    {{{ ref-portrait-img actor.img "img" mm.ent }}}
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <div class="flexcol">
      {{!-- Stats et all --}}
      <div class="wraprow quintuple">
        {{{stat-edit-max-card  "HP"          "mdi mdi-heart-outline"    "mm.ent.CurrentHP"      "mm.ent.MaxHP" }}}
        {{{stat-edit-max-card  "HEAT"        "cci cci-heat"             "mm.ent.CurrentHeat"    "mm.ent.HeatCapacity" }}}
        {{{stat-view-card      "ARMOR"       "cci cci-armor"            "mm.ent.Armor" }}}
        {{{stat-edit-card      "OVERSHIELD"  "cci cci-heat"             "mm.ent.Overshield" }}}
        {{{stat-edit-card      "BURN"        "cci cci-burn"             "mm.ent.Burn" }}}

        {{{stat-view-card      "SIZE"        (concat "mdi " mm.ent.SizeIcon)   "mm.ent.Size" }}}
        {{{stat-view-card      "ARMOR"       "mdi mdi-shield-outline"   "mm.ent.Armor" }}}
        {{{stat-view-card      "EVASION"     "cci cci-evasion"          "mm.ent.Evasion" }}}
        {{{stat-view-card      "E-DEF"       "cci cci-edef"             "mm.ent.EDefense" }}}
        {{{stat-view-card      "SPEED"       "mdi mdi-arrow-right-bold-hexagon-outline" "mm.ent.Speed" }}}

        {{{stat-view-card      "SENSORS"     "cci cci-sensor"           "mm.ent.SensorRange" }}}
        {{{stat-view-card      "SAVE"        "cci cci-save"             "mm.ent.SaveTarget" }}}
        {{{stat-view-card      "ATTACK"      "cci cci-heart"            "mm.ent.AttackBonus" }}}
        {{{stat-view-card      "ACTIVATIONS" "cci cci-heart"            "mm.ent.Activations" }}}
        {{{tier-selector       "mm.ent.Tier"}}}
      </div>

      {{!-- Equipment et all --}}
      <div class="card clipped">
        <span class="lancer-header major ">CLASSES (LIMIT 1)</span>
        <div class="flexcol">
          {{#each mm.ent.Classes as |class index|}}
            {{{ref-mm-controllable-item (concat "mm.ent.Classes." index) "delete" }}}
          {{/each}}
        </div>
      </div>

      <div class="card clipped">
        <span class="lancer-header major ">TEMPLATES</span>
        <div class="wraprow double">
          {{#each mm.ent.Templates as |template index|}}
            {{{ref-mm-controllable-item (concat "mm.ent.Templates." index) "delete" }}}
          {{/each}}
        </div>
      </div>

      <div class="card clipped">
        <span class="lancer-header major ">FEATURES</span>
        <div class="wraprow double">
          {{#each mm.ent.Features as |feature index|}}
            {{{npc-feat-preview (concat "mm.ent.Features." index) mm.ent.Tier }}}
          {{/each}}
        </div>
      </div>


      <div class="card clipped">
        <span class="lancer-header major ">Notes</span>
        {{editor content=mm.ent.Notes target="mm.ent.Notes" button=true owner=owner editable=editable}}
      </div>
    </div>
  </section>
</form>
