<form class="{{cssClass}} lancer-sheet" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="header-fields" style="grid-area: 1/1/2/4;">
      <h1 class="charname"><input class="header-field" name="data.name" type="text" value="{{data.name}}" placeholder="Name"/></h1>
    </div>
    <div class="details" style="grid-area: 1/4/4/4">
      TIER
      {{#if data.tier}}
      <i class="cci cci-{{data.tier}} tier-icon theme--npc"></i>
      {{/if}}
    </div>
    <div class="details" style="grid-area: 2/1/3/2">
      CLASS
      <span class="major">{{npc_class.name}}</span>
    </div>
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="lancer-tabs" data-group="primary">
    <a class="item lancer-tab medium" data-tab="mech">&lt;NPC//LOADOUT&gt;</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body" style="height: 100%">

    {{!-- Loadout Tab --}}
    <div class="tab mech active" data-group="primary" data-tab="mech">
      <div class="flexrow">
        <div class="flexcol card clipped" style="grid-area: 2/3/3/3">
          <span class="lancer-stat-header major clipped-top">TIER</span>
          {{{tier-selector data.tier}}}
        </div>
        <div class="flexcol card clipped">
          <span class="lancer-stat-header major clipped-top">
            CLASS
          </span>
          <span class="lancer-text-field major">
            {{#if npc_class}}
              {{npc_class.name}}
              <a class="item i--m" data-item-id="{{npc_class._id}}" style="float: right;">
                <i class="cci cci-npc-class" ></i>
              </a>
            {{else}}
            NO CLASS FOUND
            {{/if}}</span>
        </div>
      </div>
      <div class="flexrow">
        <div class="flexcol card clipped">
            <span class="lancer-stat-header major clipped-top">HULL</span>
            <div class="flexrow stat-container" style="align-self: center;">
                <a class="roll-stat macroable i--dark i--sm" data-action="roll-macro"><i class="fas fa-dice-d20"></i></a>
                <input class="lancer-stat lancer-stat major" type="number" name="data.mech.hull"
                    id="data.mech.hull" value="{{data.mech.hull}}" data-dtype="Number" />
            </div>
        </div>
        <div class="flexcol card clipped">
            <span class="lancer-stat-header major clipped-top">AGILITY</span>
            <div class="flexrow stat-container" style="align-self: center;">
                <a class="roll-stat macroable i--dark i--sm" data-action="roll-macro"><i class="fas fa-dice-d20"></i></a>
                <input class="lancer-stat major" type="number" name="data.mech.agility"
                    id="data.mech.agility" value="{{data.mech.agility}}" data-dtype="Number" />
            </div>
        </div>
        <div class="flexcol card clipped">
            <span class="lancer-stat-header major clipped-top">SYSTEMS</span>
            <div class="flexrow stat-container" style="align-self: center;">
                <a class="roll-stat macroable i--dark i--sm" data-action="roll-macro"><i class="fas fa-dice-d20"></i></a>
                <input class="lancer-stat major" type="number" name="data.mech.systems"
                    id="data.mech.systems" value="{{data.mech.systems}}" data-dtype="Number" />
            </div>
        </div>
        <div class="flexcol card clipped">
            <span class="lancer-stat-header major clipped-top">ENGINEERING</span>
            <div class="flexrow stat-container" style="align-self: center;">
                <a class="roll-stat macroable i--dark i--sm" data-action="roll-macro"><i class="fas fa-dice-d20"></i></a>
                <input class="lancer-stat major" type="number" name="data.mech.engineering"
                    id="data.mech.engineering" value="{{data.mech.engineering}}" data-dtype="Number" />
        </div>
      </div>
      </div>
      <div class="card clipped mech-stats" style="display: grid; grid-template: repeat(3, 1fr) / repeat(5, 1fr);">
        <div class="flexcol card clipped" style="grid-area: 1/1/2/2">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="cci cci-structure i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">STRUCT</span>
          </div>
          <div class="flexrow" style="align-self: center;">
            <input class="lancer-stat major" type="number" name="data.mech.structure.value"
              value="{{data.mech.structure.value}}" data-dtype="Number" />
            <span class="medium" style="max-width: min-content;">/</span>
            <input class="lancer-stat major" type="number" name="data.mech.structure.max"
              value="{{data.mech.structure.max}}" data-dtype="Number" />
          </div>
        </div>
        <div class="flexcol card clipped" style="grid-area: 1/2/2/3">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="mdi mdi-shield-outline i--m i--light" style="float: left; padding-left: 10px">
            </i>
            <span class="major">ARMOR</span>
          </div>
          <input class="lancer-stat medium" type="number" name="data.mech.armor"
            value="{{data.mech.armor}}" data-dtype="Number" />
        </div>
        <div class="flexcol card clipped" style="grid-area: 1/3/2/4">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="mdi mdi-heart-outline i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">HP</span>
          </div>
          <div class="flexrow" style="align-self: center;">
            <input class="lancer-stat major" type="number" name="data.mech.hp.value"
              value="{{data.mech.hp.value}}" data-dtype="Number" />
            <span class="medium" style="max-width: min-content;">/</span>
            <input class="lancer-stat major" type="number" name="data.mech.hp.max"
              value="{{data.mech.hp.max}}" data-dtype="Number" />
          </div>
        </div>
        <div class="flexcol card clipped" style="grid-area: 1/4/2/5">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="cci cci-reactor i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">STRESS</span>
          </div>
          <div class="flexrow" style="align-self: center;">
            <input class="lancer-stat major" type="number" name="data.mech.stress.value"
              value="{{data.mech.stress.value}}" data-dtype="Number" />
            <span class="medium" style="max-width: min-content;">/</span>
            <input class="lancer-stat major" type="number" name="data.mech.stress.max"
              value="{{data.mech.stress.max}}" data-dtype="Number" />
          </div>
        </div>
        <div class="flexcol card clipped" style="grid-area: 1/5/2/6">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="cci cci-heat i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">HEAT</span>
          </div>
          <div class="flexrow" style="align-self: center;">
            <input class="lancer-stat major" type="number" name="data.mech.heat.value"
              value="{{data.mech.heat.value}}" data-dtype="Number" />
            <span class="medium" style="max-width: min-content;">/</span>
            <input class="lancer-stat major" type="number" name="data.mech.heat.max"
              value="{{data.mech.heat.max}}" data-dtype="Number" />
          </div>
        </div>
        <div class="flexcol card clipped" style="grid-area: 2/1/3/2">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="mdi mdi-arrow-right-bold-hexagon-outline i--m i--light"
              style="float: left; padding-left: 10px"> </i>
            <span class="major">SPEED</span>
          </div>
          <input class="lancer-stat medium" type="number" name="data.mech.speed"
            value="{{data.mech.speed}}" data-dtype="Number" />
        </div>
        <div class="flexcol card clipped" style="grid-area: 2/2/3/3">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="cci cci-evasion i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">EVASION</span>
          </div>
          <input class="lancer-stat medium" type="number" name="data.mech.evasion"
            value="{{data.mech.evasion}}" data-dtype="Number" />
        </div>
        <div class="flexcol card clipped" style="grid-area: 2/3/3/4">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="cci cci-activation-full i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">ACTI</span>
          </div>
          <input class="lancer-stat medium" type="number" name="data.activations"
            value="{{data.activations}}" data-dtype="Number" />
        </div>
        <div class="flexcol card clipped" style="grid-area: 3/1/4/2">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="cci cci-sensor i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">SENSORS</span>
          </div>
          <input class="lancer-stat medium" type="number" name="data.mech.sensors"
            value="{{data.mech.sensors}}" data-dtype="Number" />
        </div>
        <div class="flexcol card clipped" style="grid-area: 3/2/4/3">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="cci cci-edef i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">E-DEF</span>
          </div>
          <input class="lancer-stat medium" type="number" name="data.mech.edef"
            value="{{data.mech.edef}}" data-dtype="Number" />
        </div>
        <div class="flexcol card clipped" style="grid-area: 3/3/4/4">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="cci cci-save i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">SAVE T.</span>
          </div>
          <input class="lancer-stat medium" type="number" name="data.mech.save"
            value="{{data.mech.save}}" data-dtype="Number" />
        </div>
        {{#if data.npc_size}}
        <div style="grid-area: 2/5/4/6"><i class="cci cci-{{data.npc_size}} size-icon theme--main"></i></div>
        {{/if}}
      </div>
      <div class="flexcol card clipped" style="grid-area: 3/1/4/3">
        <span class="lancer-stat-header major clipped-top">Notes</span>
        {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
      </div>
      <div class="card clipped">
        <h2 class="lancer-title clipped-top">TEMPLATES</h2>
        {{#if npc_templates}}
        <ul class="items-list flexrow">
          {{#each npc_templates as |npc_templates key|}}
          <li class="card clipped npc-template-compact item" data-item-id="{{npc_templates._id}}">
            <div class="lancer-weapon-header clipped-top" style="grid-area: 1/1/2/3">
              <i class="cci cci-generic-item i--m i--light"> </i>
              <span class="minor">{{npc_templates.name}}</span>
              <a class="arr-control i--light" data-action="delete"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
      <div class="card clipped">
        <h2 class="lancer-title clipped-top">FEATURES</h2>
        {{#if npc_features}}
        <ul class="items-list">
          {{#each npc_features as |npc_feature key|}}
            {{{npc-feat-preview npc_feature (dec ../data.tier_num)}}}
          {{/each}}
        </ul>
        {{/if}}
      </div>
    </div>
  </section>
</form>
