<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="header-fields">
      <h1 class="charname">
        <input class="header-field" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
      </h1>
    </div>
    <div class="details flexcol">
      <i class="cci cci-npc-tier-{{mm.ent.Tier}} tier-icon theme--npc"></i>
    </div>

    <div class="details flexcol">
      <span>CLASS:</span>
      <span class="major">
        {{#if mm.ent.ActiveClass}} {{mm.ent.ActiveClass.Name}} {{else}} NO CLASS FOUND {{/if}}
      </span>
    </div>
    {{{ ref-portrait-img actor.img "img" mm.ent }}}
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="flexcol">
      {{!-- Stats et all --}}
      <div class="wraprow quintuple">
        {{{clicker-stat-card "TIER" (concat "cci cci-npc-tier-" mm.ent.Tier) "mm.ent.Tier" false }}}
        {{{stat-rollable-card "HULL" "" "mm.ent.Hull" }}} {{{stat-rollable-card "AGI" "" "mm.ent.Agility" }}}
        {{{stat-rollable-card "SYS" "" "mm.ent.Systems" }}} {{{stat-rollable-card "ENG" "" "mm.ent.Engineering" }}}
        {{{stat-edit-max-card "HP" "mdi mdi-heart-outline" "mm.ent.CurrentHP" "mm.ent.MaxHP" }}} {{{stat-edit-max-card
        "HEAT" "cci cci-heat" "mm.ent.CurrentHeat" "mm.ent.HeatCapacity" }}} {{{stat-view-card "ARMOR" "cci cci-armor"
        "mm.ent.Armor" }}} {{{stat-edit-card "OVERSHIELD" "mdi mdi-shield-star-outline" "mm.ent.Overshield" }}}
        {{{stat-edit-card "BURN" "cci cci-burn" "mm.ent.Burn" }}} {{{stat-view-card "SPEED" "mdi
        mdi-arrow-right-bold-hexagon-outline" "mm.ent.Speed" }}} {{{stat-view-card "EVASION" "cci cci-evasion"
        "mm.ent.Evasion" }}} {{{stat-view-card "E-DEF" "cci cci-edef" "mm.ent.EDefense" }}} {{{stat-view-card "SENSORS"
        "cci cci-sensor" "mm.ent.SensorRange" }}} {{{stat-view-card "SAVE" "cci cci-save" "mm.ent.SaveTarget" }}}
        {{{stat-view-card "SIZE" (concat "cci cci-size-" mm.ent.Size) "mm.ent.Size" }}} {{{stat-view-card "ACTIVATIONS"
        "cci cci-heart" "mm.ent.Activations" }}} {{{stat-edit-max-card "STRUCTURE" "cci cci-heart"
        "mm.ent.CurrentStructure" "mm.ent.MaxStructure" }}} {{{stat-edit-max-card "STRESS" "cci cci-heart"
        "mm.ent.CurrentStress" "mm.ent.MaxStress"}}}
      </div>

      {{!-- Equipment et all --}}
      <div class="card clipped">
        <span class="lancer-header submajor">CLASSES (LIMIT 1)</span>
        <div class="flexcol">
          {{#each mm.ent.Classes as |class index|}} {{{ref-mm-controllable-item (concat "mm.ent.Classes." index)
          "delete" }}} {{/each}}
        </div>
      </div>

      <div class="card clipped">
        <span class="lancer-header submajor">TEMPLATES</span>
        <div class="wraprow double">
          {{#each mm.ent.Templates as |template index|}} {{{ref-mm-controllable-item (concat "mm.ent.Templates." index)
          "delete" }}} {{/each}}
        </div>
      </div>

      <div class="card clipped">
        <div class="lancer-header submajor">
          <span style="padding-left: 41px;">FEATURES</span>
          <a style="margin-top: 2px; font-size: 1.4em;" class="charge-macro"><i class="mdi mdi-dice-6"></i></a>
        </div>
        <div class="wraprow double">
          {{#each mm.ent.Features as |feature index|}} {{{npc-feat-preview (concat "mm.ent.Features." index)
          tier=../mm.ent.Tier }}} {{/each}}
        </div>
      </div>

      {{{textarea-card "NOTES" "mm.ent.Notes"}}}
    </div>
  </section>
</form>
