<form class="{{cssClass}} sheet-bg" autocomplete="off">

	{{!-- Sheet Header --}}
	<header class="sheet-header card clipped-bot">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="dossier">&lt;PILOT//DOSSIER&gt;</a>
		<a class="item" data-tab="pilot">&lt;PILOT//TACTICAL&gt;</a>
		<a class="item" data-tab="mech">&lt;MECH//LOADOUT&gt;</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body" style="height:-webkit-fill-available">

		{{!-- Dossier Tab --}}
		<div class="tab dossier active" data-group="primary" data-tab="dossier">
			<div style="grid-template: 1fr 1fr 1fr 1fr / 1fr">
				<div class="flexcol card clipped" style="grid-area: 1 / 1 / 2 / 2">
					<span class="lancer-stat-header major clipped-top">CALLSIGN</span>
					<input class="lancer-text-input major" type="string" name="data.pilot.callsign" value="{{data.pilot.callsign}}" data-dtype="String"/>
				</div>
				<div class="flexcol card clipped" style="grid-area: 2 / 1 / 3 / 2">
					<span class="lancer-stat-header major clipped-top">BACKGROUND</span>
					<input class="lancer-text-input major" type="string" name="data.pilot.background" value="{{data.pilot.background}}" data-dtype="String"/>
				</div>
				<div class="flexcol card clipped" style="grid-area: 3 / 1 / 4 / 2">
					<span class="lancer-stat-header major clipped-top">HISTORY</span>
					{{editor content=data.pilot.history target="data.pilot.history" button=true owner=owner editable=editable}}
				</div>
				<div class="flexcol card clipped" style="grid-area: 4 / 1 / 5 / 2">
					<span class="lancer-stat-header major clipped-top">NOTES</span>
					{{editor content=data.pilot.notes target="data.pilot.notes" button=true owner=owner editable=editable}}
				</div>
			</div>
		</div>

		<!-- {{!-- Owned Items Tab --}}
		<div class="tab items" data-group="primary" data-tab="items">
			<ol class="items-list">
			{{#each actor.items as |item id|}}
				<li class="item flexrow" data-item-id="{{item._id}}">
					<img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
					<h4 class="item-name">{{item.name}}</h4>
					<div class="item-controls">
						<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
						<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
					</div>
				</li>
			{{/each}}
			</ol>
		</div> -->

		{{!-- Pilot Tactical Tab --}}
		<div class="tab pilot" data-group="primary" data-tab="pilot">
			<div class="card clipped">
				<div class="flexrow">
					<div class="flexcol card clipped">
						<span class="lancer-stat-header major clipped-top">LICENSE LEVEL</span>
						<input class="lancer-stat-input major" type="number" name="data.pilot.level" value="{{data.pilot.level}}" data-dtype="Number"\>
					</div>
					<div class="flexcol card clipped">
						<span class="lancer-stat-header major clipped-top">GRIT</span>
						<input class="lancer-stat-input major" type="number" name="data.pilot.grit" value="{{data.pilot.grit}}" data-dtype="Number"\>
					</div>
				</div>
				<div class="flexrow">
					<div class="flexcol card clipped">
						<span class="lancer-stat-header major clipped-top">HULL</span>
						<input class="lancer-stat-input major" type="number" name="data.mech.hull" value="{{data.mech.hull}}" data-dtype="Number"/>
					</div>
					<div class="flexcol card clipped">
						<span class="lancer-stat-header major clipped-top">AGILITY</span>
						<input class="lancer-stat-input major" type="number" name="data.mech.agility" value="{{data.mech.agility}}" data-dtype="Number"/>
					</div>
					<div class="flexcol card clipped">
						<span class="lancer-stat-header major clipped-top">SYSTEMS</span>
						<input class="lancer-stat-input major" type="number" name="data.mech.systems" value="{{data.mech.systems}}" data-dtype="Number"/>
					</div>
					<div class="flexcol card clipped">
						<span class="lancer-stat-header major clipped-top">ENGINEERING</span>
						<input class="lancer-stat-input major" type="number" name="data.mech.engineering" value="{{data.mech.engineering}}" data-dtype="Number"/>
					</div>
				</div>
			</div>
			<div class="card clipped">
				<div class="flexrow"><span class="lancer-stat-header major clipped-top">PILOT STATS</span></div>
				<div class="flexcol card clipped">
					<span class="lancer-stat-header medium clipped-top">HP</span>
					<div class="flexrow" style="align-self: center;">
						<input class="lancer-stat-input medium" type="number" name="data.pilot.stats.hp.value" value="{{data.pilot.stats.hp.value}}" data-dtype="Number"/>
						<span class="medium" style="max-width: min-content;" >/</span>
						<input class="lancer-stat-input medium" type="number" name="data.pilot.stats.hp.max" value="{{data.pilot.stats.hp.max}}" data-dtype="Number"/>
					</div>
				</div>
				<div class="flexrow">
					<div class="flexcol card clipped">
						<span class="lancer-stat-header medium clipped-top">ARMOR</span>
						<input class="lancer-stat-input medium" type="number" name="data.pilot.stats.armor" value="{{data.pilot.stats.armor}}" data-dtype="Number"/>
					</div>
					<div class="flexcol card clipped">
						<span class="lancer-stat-header medium clipped-top">EVASION</span>
						<input class="lancer-stat-input medium" type="number" name="data.pilot.stats.evasion" value="{{data.pilot.stats.evasion}}" data-dtype="Number"/>
					</div>
					<div class="flexcol card clipped">
						<span class="lancer-stat-header medium clipped-top">E-DEFENSE</span>
						<input class="lancer-stat-input medium" type="number" name="data.pilot.stats.edef" value="{{data.pilot.stats.edef}}" data-dtype="Number"/>
					</div>
					<div class="flexcol card clipped">
						<span class="lancer-stat-header medium clipped-top">SPEED</span>
						<input class="lancer-stat-input medium" type="number" name="data.pilot.stats.speed" value="{{data.pilot.stats.speed}}" data-dtype="Number"/>
					</div>
				</div>
			</div>
			<div class="card clipped">
				<h2 class="lancer-title clipped-top">SKILL TRIGGERS</h2>
				<ul>
					{{#each data.pilot.skills as |skill key|}}
					<span class="item lancer-tech-header" data-item-id="{{skill._id}}">{{skill.name}}</span>
					{{/each}}
				</ul>
			</div>
			<div class="card clipped">
				<h2 class="lancer-title clipped-top">TALENTS</h2>
				<ul>
					{{#each data.pilot.talents as |talent key|}}
					<span class="item lancer-talent-header" data-item-id="{{talent._id}}">{{talent.name}}</span>
					{{/each}}
				</ul>
			</div>
			<div class="card clipped">
				<h2 class="lancer-title clipped-top">LICENSES</h2>
				<ul>
					{{#each data.pilot.licenses as |license key|}}
					<span class="item lancer-reaction-header" data-item-id="{{license._id}}">{{license.name}}</span>
					{{/each}}
				</ul>
			</div>
			<div class="card clipped">
				<h2 class="lancer-title clipped-top">CORE BONUSES</h2>
				<ul>
					{{#each data.pilot.core_bonuses as |core_bonus key|}}
					<span class="item lancer-system-header clipped-top" data-item-id="{{core_bonus._id}}">{{core_bonus.name}}</span>
					{{/each}}
				</ul>
			</div>
			<div class="card clipped">
				<h2 class="lancer-title clipped-top">GEAR</h2>
				<ul>
					{{#each data.pilot.loadout.gear as |gear key|}}
					<span class="item lancer-weapon-header" data-item-id="{{gear._id}}">{{gear.name}}</span>
					{{/each}}
				</ul>
			</div>
			
			<!-- <header class="stats-header flexrow">
				<span class="stats-key">Stats Key</span>
				<span class="stats-value">Value</span>
				<span class="stats-label">Label</span>
				<span class="stats-dtype">Data Type</span>
				<a class="stats-control" data-action="create"><i class="fas fa-plus"></i></a>
			</header>

			<ol class="stats-list">
				{{#each data.pilot as |stat key|}}
					<li class="stats flexrow" data-stats="{{key}}">
						<input class="stats-key" type="text" name="data.pilot.{{key}}.key" value="{{key}}"/>
						{{#if stat.isCheckbox}}
						<label class="stats-value checkbox"><input type="checkbox" name="data.pilot.{{key}}.value" {{checked stat.value}}/></label>
						{{else}}
						<input class="stats-value" type="text" name="data.pilot.{{key}}.value" value="{{stat.value}}" data-dtype="{{stat.dtype}}"/>
						{{/if}}
						<input class="stats-label" type="text" name="data.pilot.{{key}}.label" value="{{stat.label}}"/>
						<select class="stats-dtype" name="data.pilot.{{key}}.dtype">
							{{#select stat.dtype}}
							{{#each ../dtypes as |t|}}
							<option value="{{t}}">{{t}}</option>
							{{/each}}
							{{/select}}
						</select>
						<a class="stats-control" data-action="delete"><i class="fas fa-trash"></i></a>
					</li>
				{{/each}}
			</ol> -->
		</div>

		{{!-- Mech Tab --}}
		<div class="tab mech" data-group="primary" data-tab="mech">
			<span class="lancer-title major clipped">{{data.mech.frame}}</span>
			<div class="card clipped">
				<div class="flexrow">
					<div class="flexcol card clipped">
						<span class="lancer-stat-header major clipped-top">STRUCTURE</span>
						<div class="flexrow" style="align-self: center;">
							<input class="lancer-stat-input major" type="number" name="data.mech.structure.value" value="{{data.mech.structure.value}}" data-dtype="Number"/>
							<span class="medium" style="max-width: min-content;" >/</span>
							<input class="lancer-stat-input major" type="number" name="data.mech.structure.max" value="{{data.mech.structure.max}}" data-dtype="Number"/>
						</div>
					</div>
					<div class="flexcol card clipped">
						<span class="lancer-stat-header major clipped-top">HP</span>
						<div class="flexrow" style="align-self: center;">
							<input class="lancer-stat-input major" type="number" name="data.mech.hp.value" value="{{data.mech.hp.value}}" data-dtype="Number"/>
							<span class="medium" style="max-width: min-content;" >/</span>
							<input class="lancer-stat-input major" type="number" name="data.mech.hp.max" value="{{data.mech.hp.max}}" data-dtype="Number"/>
						</div>
					</div>
					<div class="flexcol card clipped">
						<span class="lancer-stat-header major clipped-top">STRESS</span>
						<div class="flexrow" style="align-self: center;">
							<input class="lancer-stat-input major" type="number" name="data.mech.stress.value" value="{{data.mech.stress.value}}" data-dtype="Number"/>
							<span class="medium" style="max-width: min-content;">/</span>
							<input class="lancer-stat-input major" type="number" name="data.mech.stress.max" value="{{data.mech.stress.max}}" data-dtype="Number"/>
						</div>
					</div>
					<div class="flexcol card clipped">
						<span class="lancer-stat-header major clipped-top">HEAT</span>
						<div class="flexrow" style="align-self: center;">
							<input class="lancer-stat-input major" type="number" name="data.mech.heat.value" value="{{data.mech.heat.value}}" data-dtype="Number"/>
							<span class="medium" style="max-width: min-content;">/</span>
							<input class="lancer-stat-input major" type="number" name="data.mech.heat.max" value="{{data.mech.heat.max}}" data-dtype="Number"/>
						</div>
					</div>
				</div>
				</p>
				<div class="flexrow">
					<div class="flexcol card clipped">
						<span class="lancer-stat-header major clipped-top">ARMOR</span>
						<input class="lancer-stat-input medium" type="number" name="data.mech.armor" value="{{data.mech.armor}}" data-dtype="Number"/>
					</div>
					<div class="flexcol card clipped">
						<span class="lancer-stat-header major clipped-top">EVASION</span>
						<input class="lancer-stat-input medium" type="number" name="data.mech.evasion" value="{{data.mech.evasion}}" data-dtype="Number"/>
					</div>
					<div class="flexcol card clipped">
						<span class="lancer-stat-header major clipped-top">E-DEFENSE</span>
						<input class="lancer-stat-input medium" type="number" name="data.mech.edef" value="{{data.mech.edef}}" data-dtype="Number"/>
					</div>
					<div class="flexcol card clipped">
						<span class="lancer-stat-header major clipped-top">SPEED</span>
						<input class="lancer-stat-input medium" type="number" name="data.mech.speed" value="{{data.mech.speed}}" data-dtype="Number"/>
					</div>
					<div class="flexcol card clipped">
						<span class="lancer-stat-header major clipped-top">SENSORS</span>
						<input class="lancer-stat-input medium" type="number" name="data.mech.sensors" value="{{data.mech.sensors}}" data-dtype="Number"/>
					</div>
					<div class="flexcol card clipped">
						<span class="lancer-stat-header major clipped-top">SAVE TARGET</span>
						<input class="lancer-stat-input medium" type="number" name="data.mech.save" value="{{data.mech.save}}" data-dtype="Number"/>
					</div>
				</div>
			</div>
			<h2 class="lancer-title major clipped">WEAPONS</h2>
			<!-- <ol>
				{{#each data.loadout.weapons as |weapon key|}}
					<li data-stats="{{key}}">

					</li>
				{{/each}}
			</ol> -->
			<h2 class="lancer-title major clipped">SYSTEMS</h2>

			<!-- <header class="stats-header flexrow">
				<span class="stats-key">Stats Key</span>
				<span class="stats-value">Value</span>
				<span class="stats-label">Label</span>
				<span class="stats-dtype">Data Type</span>
				<a class="stats-control" data-action="create"><i class="fas fa-plus"></i></a>
			</header>

			<ol class="stats-list">
			{{#each data.mech_stats as |stat key|}}
				<li class="stats flexrow" data-stats="{{key}}">
					<input class="stats-key" type="text" name="data.mech_stats.{{key}}.key" value="{{key}}"/>
					{{#if stat.isCheckbox}}
					<label class="stats-value checkbox"><input type="checkbox" name="data.mech_stats.{{key}}.value" {{checked stat.value}}/></label>
					{{else}}
					<input class="stats-value" type="text" name="data.mech_stats.{{key}}.value" value="{{stat.value}}" data-dtype="{{stat.dtype}}"/>
					{{/if}}
					<input class="stats-label" type="text" name="data.mech_stats.{{key}}.label" value="{{stat.label}}"/>
					<select class="stats-dtype" name="data.mech_stats.{{key}}.dtype">
						{{#select stat.dtype}}
						{{#each ../dtypes as |t|}}
						<option value="{{t}}">{{t}}</option>
						{{/each}}
						{{/select}}
					</select>
					<a class="stats-control" data-action="delete"><i class="fas fa-trash"></i></a>
				</li>
			{{/each}}
			</ol> -->
		</div>
	</section>
</form>
