<form class="{{cssClass}} lancer-sheet" autocomplete="off">

  {{!-- Sheet Header --}}
  <header>
    <div class="flexcol">
      <div class="flexrow">
        <div class="details">
          <span>LICENSE LEVEL:</span>
          <span class="pilot-callsign">{{mm.ent.Level}}</span>
        </div>

        <div class="details flexcol">
          <span>CALLSIGN:</span>
          <span class="pilot-callsign">{{mm.ent.Callsign}}</span>
        </div>

        <div class="details flexcol">
          <span>NAME:</span>
          <span class="medium">{{actor.name}}</span>
        </div>

        <div class="details flexcol">
          <span>BACKGROUND:</span>
          <span class="medium">{{mm.ent.Background}}</span>
        </div>
      </div>
      <div class="flexrow pilot-stats">
        {{{compact-stat-edit "mdi mdi-heart-outline"                     "mm.ent.CurrentHP"  "mm.ent.MaxHP" }}}
        {{{compact-stat-edit "mdi mdi-heart-outline"                     "mm.ent.Overshield"  "mm.ent.MaxHP" }}}
        {{{compact-stat-view "mdi mdi-shield-outline"                    "mm.ent.Armor"  }}}
        {{{compact-stat-view "cci cci-evasion"                           "mm.ent.Evasion"  }}}
        {{{compact-stat-view "cci cci-edef"                              "mm.ent.EDefense"  }}}
        {{{compact-stat-view "mdi mdi-arrow-right-bold-hexagon-outline"  "mm.ent.Speed"  }}}
      </div>
    </div>
    {{{ ref-portrait-img actor.img "img" mm.ent }}}
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="lancer-tabs" data-group="primary">
    <a class="item lancer-tab medium" data-tab="cloud">&lt;RM-4://SYNC&gt;</a>
    <a class="item lancer-tab medium" data-tab="dossier">&lt;PILOT//DOSSIER&gt;</a>
    <a class="item lancer-tab medium" data-tab="pilot">&lt;PILOT//TACTICAL&gt;</a>
    <!--<a class="item lancer-tab medium" data-tab="mech">&lt;FRAME//LOADOUT&gt;</a>-->
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Cloud Management Tab --}}
    <div class="tab manage" data-group="primary" data-tab="cloud">
      <div style="display: grid; grid-template: auto / 1fr 1fr;">
        <div class="flexcol card clipped" style="grid-area: 1/1/2/3;">
          <span class="lancer-stat-header major clipped-top">RM-4://(OMNINET UPLINK ID)</span>
          <input
            class="lancer-input major"
            style="text-align: center;"
            type="string"
            name="mm.ent.CloudID"
            value="{{mm.ent.CloudID}}"
            data-dtype="String"
          />
        </div>

        <div class="flexcol card clipped" style="grid-area: 2/1/3/2;">
          <span class="lancer-stat-header major clipped-top">DOWNLOAD</span>
          <a class="cloud-control i--dark i--l" style="align-self: center;" data-action="download"><i class="cci cci-tech-quick"></i></a>
          <span class="minor desc-text" style="text-align: center;">Last synced: {{mm.ent.LastCloudUpdate}}</span>
        </div>

        <div class="flexcol card clipped" style="grid-area: 2/2/3/3;">
          <span class="lancer-stat-header major clipped-top">UPLOAD</span>
          <span>FEATURE IN PROGRESS</span>
        </div>
      </div>
    </div>

    {{!-- Dossier Tab --}}
    <div class="tab dossier active" data-group="primary" data-tab="dossier">
      <div style="display:grid; grid-template: 5em 5em auto auto / 1fr 1fr">
        <div class="flexcol card clipped" style="grid-area: 1/1/2/2">
          <span class="lancer-stat-header major clipped-top">CALLSIGN</span>
          <input class="lancer-input major" {{{getset "mm.ent.Callsign" }}} data-dtype="String"/>
        </div>
        <div class="flexcol card clipped" style="grid-area: 1/2/2/3">
          <span class="lancer-stat-header major clipped-top">NAME</span>
          <input class="lancer-input major" {{{getset "actor.name" }}}  data-dtype="String"/>
        </div>
        <div class="flexcol card clipped" style="grid-area: 2/1/3/3">
          <span class="lancer-stat-header major clipped-top">BACKGROUND</span>
          <input class="lancer-input major" {{{getset "mm.ent.Background" }}}  data-dtype="String"/>
        </div>
        <div class="flexcol card clipped" style="grid-area: 3/1/4/3; text-align: left;">
          <span class="lancer-stat-header major clipped-top" style="text-align: center; max-height: 1.25em; min-height: 1.25em;">HISTORY</span>
          {{editor content=mm.ent.History target="mm.ent.History" button=true owner=owner editable=editable}}
        </div>
        <div class="flexcol card clipped" style="grid-area: 4/1/5/3; text-align: left;">
          <span class="lancer-stat-header major clipped-top" style="text-align: center; max-height: 1.25em; min-height: 1.25em;">NOTES</span>
          {{editor content=mm.ent.Notes target="mm.ent.Notes" button=true owner=owner editable=editable}}
        </div>
      </div>
    </div>

    {{!-- Pilot Tactical Tab --}}
    <div class="tab pilot flexcol" data-group="primary" data-tab="pilot">
      <div class="card clipped">
        <div class="flexrow">
          {{{clicker-stat-card "LEVEL"       "mdi mdi-shield-outline"    "mm.ent.Level" }}}
          {{{stat-view-card   "GRIT"       "cci cci-armor"     "mm.ent.Grit" }}}
        </div>
        <div class="flexrow">
          {{{clicker-stat-card "HUL"  "mdi mdi-heart-outline"     "mm.ent.MechSkills.Hull" }}}
          {{{clicker-stat-card "AGI"  "mdi mdi-heart-outline"     "mm.ent.MechSkills.Agi" }}}
          {{{clicker-stat-card "SYS"  "mdi mdi-heart-outline"     "mm.ent.MechSkills.Sys" }}}
          {{{clicker-stat-card "ENG"  "mdi mdi-heart-outline"     "mm.ent.MechSkills.Eng" }}}
        </div>
      </div>

      {{!-- Armor + Weapons --}}
      <div class="flexrow">
        {{!-- Armor --}}
        <div class="flexcol card clipped">
          <h2 class="lancer-stat-header major clipped-top">ARMOR</h2>
          {{#each mm.ent.Loadout.Armor as |armor key|}}
            {{{pilot-armor-slot (concat "mm.ent.Loadout.Armor." key)}}}
          {{/each}}
        </div>

        {{!-- Weapons --}}
        <div class="flexcol card clipped">
          <h2 class="lancer-stat-header major clipped-top">WEAPONS</h2>
          {{#each mm.ent.Loadout.Weapons as |weapon key|}}
            {{{pilot-weapon-slot (concat "mm.ent.Loadout.Weapons." key)}}}
          {{/each}}
        </div>
      </div>

      {{!-- Gear + Skills --}}
      <div class="flexrow">
        {{!-- Gear --}}
        <div class="card clipped">
          <h2 class="lancer-title clipped-top">GEAR</h2>
          {{#each mm.ent.Loadout.Gear as |gear key|}}
            {{{pilot-gear-slot (concat "mm.ent.Loadout.Gear." key)}}}
          {{/each}}
        </div>

        {{!-- Skill Triggers --}}
        <div class="card clipped">
          <h2 class="lancer-title clipped">SKILL TRIGGERS</h2>
          {{#each mm.ent.Skills as |skill index|}}
            {{{ref-mm-controllable-item (concat "mm.ent.Skills." index) "delete" }}}
          {{/each}}
        </div>
      </div>


      <!--
        {{#if skills}}
        <ul class="items-list">
          {{#each skills as |skill key|}}
          <li class="card clipped skill-compact item macroable" data-item-id="{{skill._id}}">
            <div class="lancer-trigger-header medium clipped-top" style="grid-area: 1/1/2/3">
              <i class="cci cci-skill i--m i--dark"> </i>
              <span class="major modifier-name">{{skill.name}}</span>
              <a class="stats-control i--dark" data-action="delete"><i class="fas fa-trash"></i></a>
            </div>
            <a class="flexrow skill-macro" style="grid-area: 2/1/3/2;">
              <i class="fas fa-dice-d20 i--sm i--dark"></i>
              <div class="major roll-modifier" style="align-self: center">+{{double skill.data.rank}}</div>
            </a>
            <div class="desc-text" style="grid-area: 2/2/3/3">{{{skill.data.description}}}</div>
          </li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
    -->

      {{!-- Talents + Core Bonuses + Licenses --}}
      <div class="flexrow">
        {{!-- Talents --}}
        <div class="card clipped">
          <h2 class="lancer-title clipped">TALENTS</h2>
          {{#each mm.ent.Talents as |skill index|}}
            {{{ref-mm-controllable-item (concat "mm.ent.Talents." index) "delete" }}}
          {{/each}}
        </div>

        {{!-- Licenses --}}
        <div class="card clipped">
          <h2 class="lancer-title clipped-top">LICENSES</h2>
          {{#each mm.ent.Licenses as |license index|}}
            {{{ref-mm-controllable-item (concat "mm.ent.Licenses." index) "delete" }}}
          {{/each}}
        </div>

        {{!-- Core Bonuses --}}
        <div class="card clipped">
          <h2 class="lancer-title clipped-top">CORE BONUSES</h2>
          {{#each mm.ent.CoreBonuses as |core_bonus index|}}
            {{{ref-mm-controllable-item (concat "mm.ent.CoreBonuses." index) "delete" }}}
          {{/each}}
        </div>
      </div>
      <!--
        {{#if talents}}
        <ul class="talents-list">
          {{#each talents as |talent key|}}
          <li class="card clipped talent-compact item" data-item-id="{{talent._id}}">
            <div class="lancer-talent-header medium clipped-top" style="grid-area: 1/1/2/4">
              <i class="cci cci-talent i--m"></i>
              <span class="major">{{talent.name}}</span>
              <a class="stats-control" data-action="delete"><i class="fas fa-trash"></i></a>
            </div>
            <ul style="grid-area: 2/1/3/3">
              {{#each talent.data.ranks as |rank lvl|}}
              {{#if (gt ../data.rank lvl)}}
              <li class="talent-rank-compact card clipped" style="padding: 5px">
                <a class="cci cci-rank-{{inc lvl}} i--l i--dark talent-macro macroable" data-rank="{{lvl}}" style="grid-area: 1/1/2/2"></a>
                <span class="major" style="grid-area: 1/2/2/3">{{rank.name}}</span>
                <div class="effect-text" style="grid-area: 2/1/3/3">
                  {{{rank.description}}}
                </div>
              </li>
              {{/if}}
              {{/each}}
            </ul>
          </li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
    -->

        <!--
        {{#each licenses as |license key|}}
        <span class="item reaction" data-item-id="{{license._id}}"><img class="thumbnail" src="{{license.img}}" data-edit="{{license.img}}" title="{{license.name}}" height="10" width="10"/> {{license.name}} <a class="stats-control" data-action="delete"><i class="fas fa-trash"></i></a></span>
        {{/each}}
        -->


        <!--
        {{#if core_bonuses}}
        <ul class="items-list">
          {{#each core_bonuses as |core_bonus key|}}
          <li class="card clipped cb-compact item" data-item-id="{{core_bonus._id}}">
            <div class="lancer-system-header medium clipped-top" style="grid-area: 1/1/2/2; display:flex">
              <i class="cci cci-corebonus i--m "> </i>
              <a class="macroable cb-macro"><i class="mdi mdi-message"></i></a>
              <span class="major" style="flex-grow: 1;">{{core_bonus.name}}</span>
              <a class="stats-control" data-action="delete"><i class="fas fa-trash"></i></a>
            </div>
            <div class="effect-text" style="grid-area: 2/1/3/2">{{{core_bonus.data.effect}}}</div>
          </li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
    -->

    <!--
    {{!-- Mech Tab --}}
    <div class="tab mech" data-group="primary" data-tab="mech">
      <div class="flexrow" style="grid-area: 1/1/2/2">
        <span class="lancer-title major clipped-bot" style="padding: 1em; float: left;">
          {{#if frame}}
          {{frame.data.source}} {{frame.data.name}}
          {{else}}
          NO FRAME FOUND // AWAITING YOUR SELECTION, PILOT
          {{/if}}
        </span>
        <input class="lancer-input major" style="float: right; margin: 3px 10px;"  name="data.mech.name" value="{{data.mech.name}}" data-dtype="String"/>
      </div>

      {{!-- Stats --}}
      <div class="card clipped mech-stats" style="display: grid; grid-template: repeat(5, 1fr) / repeat(5, 1fr);">
        <div class="flexcol card clipped" style="grid-area: 1/1/2/2">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="cci cci-structure i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">STRUCT</span>
          </div>
          <div class="flexrow stat-container" style="align-self: center;">
            <input class="lancer-stat major" type="number" name="data.mech.structure.value" value="{{data.mech.structure.value}}" data-dtype="Number"/>
            <span class="medium" style="max-width: min-content;" >/</span>
            <input class="lancer-stat major" type="number" name="data.mech.structure.max" value="{{data.mech.structure.max}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="flexcol card clipped" style="grid-area: 1/2/2/3">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="mdi mdi-heart-outline i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">HP</span>
          </div>
          <div class="flexrow stat-container" style="align-self: center;">
            <input class="lancer-stat major" type="number" name="data.mech.hp.value" value="{{data.mech.hp.value}}" data-dtype="Number"/>
            <span class="medium" style="max-width: min-content;" >/</span>
            <input class="lancer-stat major" type="number" name="data.mech.hp.max" value="{{data.mech.hp.max}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="flexcol card clipped" style="grid-area: 1/3/2/4">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="cci cci-reactor i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">STRESS</span>
          </div>
          <div class="flexrow stat-container" style="align-self: center;">
            <input class="lancer-stat major" type="number" name="data.mech.stress.value" value="{{data.mech.stress.value}}" data-dtype="Number"/>
            <span class="medium" style="max-width: min-content;">/</span>
            <input class="lancer-stat major" type="number" name="data.mech.stress.max" value="{{data.mech.stress.max}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="flexcol card clipped" style="grid-area: 1/4/2/5">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="cci cci-heat i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">HEAT</span>
          </div>
          <div class="flexrow stat-container" style="align-self: center;">
            <input class="lancer-stat major" type="number" name="data.mech.heat.value" value="{{data.mech.heat.value}}" data-dtype="Number"/>
            <span class="medium" style="max-width: min-content;">/</span>
            <input class="lancer-stat major" type="number" name="data.mech.heat.max" value="{{data.mech.heat.max}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="flexcol card clipped" style="grid-area: 1/5/2/6">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="cci cci-repair i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">REPAIRS</span>
          </div>
          <div class="flexrow stat-container" style="align-self: center;">
            <input class="lancer-stat major" type="number" name="data.mech.repairs.value" value="{{data.mech.repairs.value}}" data-dtype="Number"/>
            <span class="medium" style="max-width: min-content;">/</span>
            <input class="lancer-stat major" type="number" name="data.mech.repairs.max" value="{{data.mech.repairs.max}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="flexcol card clipped" style="grid-area: 2/1/3/2">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="mdi mdi-shield-outline i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">ARMOR</span>
          </div>
          <input class="lancer-stat medium" type="number" name="data.mech.armor" value="{{data.mech.armor}}" data-dtype="Number"/>
        </div>
        <div class="flexcol card clipped" style="grid-area: 2/2/3/3">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="cci cci-evasion i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">EVASION</span>
          </div>
          <input class="lancer-stat medium" type="number" name="data.mech.evasion" value="{{data.mech.evasion}}" data-dtype="Number"/>
        </div>
        <div class="flexcol card clipped" style="grid-area: 2/3/3/4">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="cci cci-edef i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">E-DEF</span>
          </div>
          <input class="lancer-stat medium" type="number" name="data.mech.edef" value="{{data.mech.edef}}" data-dtype="Number"/>
        </div>
        <div class="flexcol card clipped" style="grid-area: 2/4/3/5">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="mdi mdi-arrow-right-bold-hexagon-outline i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">SPEED</span>
          </div>
          <input class="lancer-stat medium" type="number" name="data.mech.speed" value="{{data.mech.speed}}" data-dtype="Number"/>
        </div>
        <div class="flexcol card clipped" style="grid-area: 3/1/4/2">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="cci cci-reticule i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">GRIT</span>
          </div>
          <div class="flexrow stat-container" style="align-self: center;">
            <a class="roll-stat stat-macro macroable i--dark i--sm" data-action="roll-macro"><i class="fas fa-dice-d20"></i></a>
            <data class="lancer-stat medium" id="mm.ent.grit" value="mm.ent.grit">{{mm.ent.grit}}</data>
          </div>
        </div>
        <div class="flexcol card clipped" style="grid-area: 3/2/4/3">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="cci cci-tech-full i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">TECH ATK</span>
          </div>
          <div class="flexrow stat-container" style="align-self: center;">
            <a class="roll-stat stat-macro macroable i--dark i--sm" data-action="roll-macro"><i class="fas fa-dice-d20"></i></a>
            <input class="lancer-stat medium" type="number" name="data.mech.tech_attack" id="data.mech.tech_attack" value="{{data.mech.tech_attack}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="flexcol card clipped" style="grid-area: 3/3/4/4">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="cci cci-sensor i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">SENSORS</span>
          </div>
          <input class="lancer-stat medium" type="number" name="data.mech.sensors" value="{{data.mech.sensors}}" data-dtype="Number"/>
        </div>
        <div class="flexcol card clipped" style="grid-area: 3/4/4/5">
          <div class="lancer-stat-header clipped-top flexrow">
            <i class="cci cci-save i--m i--light" style="float: left; padding-left: 10px"> </i>
            <span class="major">SAVE T.</span>
          </div>
          <input class="lancer-stat medium" type="number" name="data.mech.save" value="{{data.mech.save}}" data-dtype="Number"/>
        </div>
        {{#if frame_size}}
        <div style="grid-area: 2/5/4/6"><i class="cci cci-{{frame_size}} size-icon theme--main"></i></div>
        {{/if}}
        <div class="flexcol card clipped" style="grid-area: 4/1/5/2">
          <div class="lancer-stat-header clipped-top flexrow">
            <span class="major">HULL</span>
          </div>
          <div class="flexrow stat-container" style="align-self: center;">
            <a class="roll-stat stat-macro macroable i--dark i--sm" data-action="roll-macro"><i class="fas fa-dice-d20"></i></a>
            <data class="lancer-stat medium" id="data.mech.hull" value="data.mech.hull">{{data.mech.hull}}</data>
          </div>
        </div>
        <div class="flexcol card clipped" style="grid-area: 4/2/5/3">
          <div class="lancer-stat-header clipped-top flexrow">
            <span class="major">AGILITY</span>
          </div>
          <div class="flexrow stat-container" style="align-self: center;">
            <a class="roll-stat stat-macro macroable i--dark i--sm" data-action="roll-macro"><i class="fas fa-dice-d20"></i></a>
            <data class="lancer-stat medium" id="data.mech.agility" value="data.mech.agility">{{data.mech.agility}}</data>
          </div>
        </div>
        <div class="flexcol card clipped" style="grid-area: 4/3/5/4">
          <div class="lancer-stat-header clipped-top flexrow">
            <span class="major">SYSTEMS</span>
          </div>

          <div class="flexrow stat-container" style="align-self: center;">
            <a class="roll-stat stat-macro macroable i--dark i--sm" data-action="roll-macro"><i class="fas fa-dice-d20"></i></a>
            <data class="lancer-stat medium" id="data.mech.systems" value="data.mech.systems">{{data.mech.systems}}</data>
          </div>
        </div>
        <div class="flexcol card clipped" style="grid-area: 4/4/5/5">
          <div class="lancer-stat-header clipped-top flexrow">
            <span class="major">ENGINEERING</span>
          </div>
          <div class="flexrow stat-container" style="align-self: center;">
            <a class="roll-stat stat-macro macroable i--dark i--sm" data-action="roll-macro"><i class="fas fa-dice-d20"></i></a>
            <data class="lancer-stat medium" id="data.mech.engineering" value="data.mech.engineering">{{data.mech.engineering}}</data>
          </div>
        </div>
        <div class="flexcol card clipped" style="grid-area: 5/1/6/2">
          <div class="lancer-stat-header clipped-top flexrow">
            <span class="major">CORE</span>
          </div>
          <div class="flexrow stat-container" style="align-self: center;">
            <label class="core-power-toggle">
              <input name="data.mech.current_core_energy" class="core-power-toggle" type="checkbox" data-dtype="Boolean" {{checked data.mech.current_core_energy}}/><label></label> 
            </label>
          </div>
        </div>
        <div class="flexcol card clipped" style="grid-area: 4/5/6/6">
          <div class="lancer-stat-header clipped-top flexrow" style="flex-basis: 24%;flex-grow: unset;">
            <span class="major">OVERCHARGE</span>
          </div>
          <span>moved</span>
        </div>

      </div>
      
      {{!-- Start of Frame --}}
      {{#if frame}}
      {{!-- Traits --}}
      <ul>
        {{#each frame.data.data.traits as |trait key|}}
        <li class="card clipped frame-trait-compact">
          {{> mech-trait trait=trait key=key}}
        </li>
        {{/each}}
      </ul>

      {{!-- Core System --}}
      {{> core-system csys=frame.data.data.core_system}}
      {{/if}}
      {{!-- End of Frame --}}

      {{!-- Mounts --}}
      <div class="card clipped">
        <h2 class="lancer-title clipped">MOUNTS<a class="add-button" data-action="create" style="float:right; margin-right: 1em; padding-bottom: 1em;">+</a></h2>
        <div class="flexrow" style="justify-content: space-evenly;">
          {{#each data.mech_loadout.mounts as |mount key|}}
            {{> mount-card mount=mount key=key}}
          {{/each}}
        </div>
      </div>

      {{!-- Systems --}}
      <div class="card clipped">
        <h2 class="lancer-title clipped">SYSTEMS</h2>
        <ul class="items-list">
          <div class="flexrow sp-count" style="align-items: center; justify-content: flex-end; margin: 0px 20px;">
            <i class="cci cci-system-point i--m i--dark"> </i>
            <span class="minor" style="max-width: max-content;">FRAME SP USED :: {{sp_used}} / </span>
            <input class="lancer-stat medium" type="number" name="data.mech.sp" value="{{data.mech.sp}}" data-dtype="Number"/>
          </div>
          {{#each mech_loadout.systems as |system key|}}
            {{> mech-system-preview system=system key=key}}
          {{/each}}
        </ul>
      </div>
    </div>
  -->
  </section>
</form>
