# IDE
.vscode/**
.idea/**

# NPM
node_modules/**
package-lock.json

# Build
foundryconfig.json
dist/module
dist/packs
dist/templates
dist/**/*.js
dist/**/*.js.map
dist/**/*.json
dist/**/*.css
dist/fonts/mdi/**
debug.log
