<form autocomplete="off" class="prototype">
  <div class="flexcol">
    {{!-- List content currently added to compendiums --}}
    <div class="flexcol">
      <div class="flexrow">
        LANCER Core Data: {{core_data}}
      </div>
      {{#each packs as |pack key|}}
        {{!-- TODO: List imported packs and version numbers --}}
      {{/each}}
    </div>

    {{!-- Update core data --}}
    {{#if core_update}}
    <div class="form fields flexrow" style="align-items: center">
      LANCER Core Data Update Available
      <button type="button" class="lcp-core-update" title="Update Core Data" tabindex="-1">
        <i class="cci cci-content-manager"></i>
        Update to v{{core_update}}
      </button>
    </div>
    {{/if}}

    {{!-- Import New LCP --}}
    <div class="flexcol" style="">
      <label>Select LCP:</label>
      <input id="lcp-file" type="file" name="lcp-up" class="lcp-up" value="" placeholder="path/pack.lcp">
      {{!-- New LCP Manifest --}}
      {{#if manifest}}
        <div class="card clipped flexcol">
          <div class="lancer-stat-header major clipped-top">{{manifest.name}} v{{manifest.version}}</div>
          <div class="minor">by {{manifest.author}}</div>
          {{#if manifest.website}}
          <a href="{{manifest.website}}" class="minor">Website</a>
          {{/if}}
          <div class="flexrow">
            {{#if manifest.description}}
            <div class="minor desc-text">{{{manifest.description}}}</div>
            {{/if}}
            {{#if manifest.image_url}}
            <img src="{{manifest.image_url}}" title="{{manifest.name}}" style="max-width: fit-content; max-height: fit-content;"/>
            {{/if}}
          </div>
        </div>
      {{/if}}
      <button type="button" class="lcp-import" title="Import LCP" tabindex="-1">
        Import LCP
        <i class="cci cci-content-manager"></i>
      </button>
    </div>

    {{!-- List installed LCPs --}}
    <div class="flexcol lcp-index">
      {{#if lcps}}
      {{#each lcps.index as |lcp key|}}
        {{#if lcp.name}}
        <div class="flexrow lcp-listing" data-id="{{key}}">
          {{lcp.name}} v{{lcp.version}} {{lcp.author}}
        </div>
        {{/if}}
      {{/each}}
      {{/if}}
    </div>
  </div>
</form>