<form class="{{cssClass}} lancer-sheet" autocomplete="off">

	{{!-- Sheet Header --}}
	<header class="sheet-header card clipped-bot">
		<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
		</div>
	</header>

	{{!-- Sheet Body --}}
	<div class="flexcol">
		{{editor content=data.tags target="data.effect" button=true owner=owner editable=editable}}
		<textarea class="lancer-invisible-input clipped-bot major" type="string" name="data.effect_mounted" data-dtype="String" style="background-color: #dbdbdb; margin-left: 1.5em; width: calc(100% - 2em)">{{data.effect_mounted}}</textarea>
	</div>
</form>