<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="flexcol grow">
      <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="flexrow">
        {{{ ref-manufacturer "mm.ent.Source" }}}
        {{{ ref-license license mm.ent.LicenseLevel }}}
      </div>
    </div>
    {{{ ref-portrait-img item.img "img" mm.ent }}}
  </header>

  {{!-- Description --}}
  <div class="flexcol card clipped" style="text-align: left;">
    <span class="lancer-header major " style="text-align: center;">DESCRIPTION</span>
    <div class="desc-text">{{editor content=mm.ent.Description target="mm.ent.Description" button=true owner=owner editable=editable}}</div>
  </div>

  {{!-- Frame Stats --}}
  <div class="card clipped mech-stats wraprow quadruple">
    {{{clicker-stat-card "HP"          "mdi mdi-heart-outline"     "mm.ent.Stats.hp" }}}
    {{{clicker-stat-card "ARMOR"       "mdi mdi-shield-outline"    "mm.ent.Stats.armor" }}}
    {{{clicker-stat-card "REPAIRS"     "cci cci-repair"            "mm.ent.Stats.repcap" }}}
    {{{clicker-stat-card "EVASION"     "cci cci-evasion"           "mm.ent.Stats.evasion" }}}
    {{{clicker-stat-card "E-DEF"       "cci cci-edef"              "mm.ent.Stats.edef" }}}
    {{{clicker-stat-card "HEAT CAP"    "cci cci-heatcap"           "mm.ent.Stats.heatcap" }}}
    {{{clicker-stat-card "SPEED"       "mdi mdi-arrow-right-bold-hexagon-outline" "mm.ent.Stats.speed" }}}
    {{{clicker-stat-card "TECH ATK"    "cci cci-tech-full"         "mm.ent.Stats.tech_attack" }}}
    {{{clicker-stat-card "SENSORS"     "cci cci-sensor"            "mm.ent.Stats.sensor_range" }}}
    {{{clicker-stat-card "SAVE"        "cci cci-save"              "mm.ent.Stats.save" }}}
    {{{clicker-stat-card "SYS POINTS"  "cci cci-system"            "mm.ent.Stats.sp" }}}
    {{{clicker-stat-card "SIZE"        "cci cci-hexagon"           "mm.ent.Stats.size" }}}
  </div>

  {{!-- Mounts --}}
  <div class="flexcol">
    <div>
      <span class="minor" style="float: left">AVAILABLE WEAPON MOUNTS</span>
      <a class="gen-control" data-action="append" data-path="mm.ent.Mounts" data-action-value="(struct)mount_type" style="float: right">+</a>
    </div>
    <div class="flexrow">
      {{#each mm.ent.Mounts as |mount key|}}
      <div class="flexrow mount arrayed-item">
        <select class="mount-selector" name="mm.ent.Mounts.{{key}}" data-type="String" index="{{key}}">
          {{#select mount}}
          <option value="Aux/Aux">AUX/AUX</option>
          <option value="Main">MAIN</option>
          <option value="Main/Aux">MAIN/AUX</option>
          <option value="Flex">FLEX</option>
          <option value="Heavy">HEAVY</option>
          <option value="Integrated">INTEGRATED</option>
          <option value="Superheavy">SUPERHEAVY</option>
          <option value="delete">DELETE</option>
          {{/select}}
        </select>
      </div>
      {{/each}}
    </div>
  </div>

  {{!-- Traits --}}
  <div class="frame-traits flexcol">
    <div>
      <span class="minor" style="float: left">TRAITS</span>
      <a class="gen-control" data-action="append" data-path="mm.ent.Traits" data-action-value="(struct)frame_trait" style="float: right">+</a>
    </div>
    {{#each mm.ent.Traits as |trait key|}}
      <div class="card clipped frame-trait-compact">
        <div class="lancer-header trait medium">
          <i class="cci cci-trait i--m i--light header-icon"> </i>
          <input class="lancer-invisible-input major i--light" name="mm.ent.Traits.{{key}}.Name" value="{{trait.Name}}" data-dtype="String" />
          <a class="gen-control" data-action="splice" data-path="mm.ent.Traits.{{key}}" style="float: right; margin-right: 11px; margin-top: 2px;">
            <i class="fas fa-trash"></i>
          </a>
        </div>
        <textarea class="lancer-invisible-input effect-text" name="mm.ent.Traits.{{key}}.Description" data-dtype="String">{{trait.Description}}</textarea>
        {{{bonuses-editor (concat "mm.ent.Traits." key ".Bonuses") trait.Bonuses}}}
      </div>
    {{/each}}
  </div>

  {{!-- Core System --}}
  <div class="card clipped frame-core flexcol">
    <div class="lancer-header core-sys medium">
      <i></i>
      <input class="lancer-invisible-input major i--light" name="mm.ent.CoreSystem.Name" value="{{mm.ent.CoreSystem.Name}}" data-dtype="String" />
      <div class="medium i--faded" style="justify-self: right;"> // CORE SYSTEM</div>
    </div>
    <div class="desc-text">{{editor content=mm.ent.CoreSystem.Description target="mm.ent.CoreSystem.Description" button=true owner=owner editable=editable}}</div>

    {{!-- Want to make these show jumpable little items --}}
    {{#each mm.ent.CoreSystem.Integrated as |integrated index|}}
      {{{ref-mm-controllable-item (concat "mm.ent.CoreSystem.Integrated." index) "splice" }}}
    {{/each}}
    {{#each mm.ent.CoreSystem.Deployables as |deployable index|}}
      {{{ref-mm-controllable-item (concat "mm.ent.CoreSystem.Deployables." index) "splice" }}}
    {{/each}}

    <div class="card clipped">
      <div class="lancer-header core-sys medium">
        <i class="mdi mdi-circle-expand i--m i--light"> </i>
        <input class="lancer-invisible-input medium i--light" name="mm.ent.CoreSystem.PassiveName" value="{{mm.ent.CoreSystem.PassiveName}}" data-dtype="String" />
        <div class="medium i--faded" style="justify-self: right;"> // PASSIVE</div>
      </div>
      <div class="effect-text">{{editor content=mm.ent.CoreSystem.PassiveEffect target="mm.ent.CoreSystem.PassiveEffect" button=true owner=owner editable=editable}}</div>
    </div>
    <div class="card clipped">
      <div class="lancer-header core-sys medium">
        <i class="cci cci-corebonus i--m i--light"> </i>
        <input class="lancer-invisible-input medium i--light" name="mm.ent.CoreSystem.ActiveName" value="{{mm.ent.CoreSystem.ActiveName}}" data-dtype="String" />
        <div class="i--faded" style="justify-self: right;"> // ACTIVE</div>
      </div>
      <div class="effect-text">{{editor content=mm.ent.CoreSystem.ActiveEffect target="mm.ent.CoreSystem.ActiveEffect" button=true owner=owner editable=editable}}</div>
    </div>
    <div class="tags-container" style="margin: 10px;">
      <div class="flexcol lancer-title">
        <span class="major">TAGS</span>
        {{{mm-tag-list mm.ent.CoreSystem.Tags}}}
      </div>
    </div>
  </div>
</form>