<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  <div class="flexrow" style="flex-wrap: nowrap;">
    {{#each mm.ent.Unlocks as |unlock_array rank|}}
    <div class="talent-level card clipped-bot flexcol" style="max-width: 33%; flex-shrink: 1">
      <div class="licensed-container flexcol" style="background-color: #dbdbdb; justify-content: flex-start; flex-grow: unset;">
        <div>
          <span class="minor" style="align-content: center;">//RANK {{rank}}</span>
          <!--<a class="add-button clickable" data-action="create"  style="float: right; margin-right: 1em">+</a>-->
        </div>
        {{#each unlock_array as |unlock unlock_index|}}
            {{{ref-mm-list-item (concat "mm.ent.Unlocks." rank "." unlock_index) "splice" }}}
        {{/each}}
        {{{ref-mm-list-item-append (concat "mm.ent.Unlocks." rank) "splice" }}}
      </div>
    </div>
    {{/each}}
  </div>

</form>