<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  
  {{!-- Sheet Header --}}
	<header class="sheet-header card clipped-bot">
		<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
		</div>
	</header>

	<div class="flexrow" style="flex-wrap: nowrap;">
		{{#each item.data.content as |content rank|}}
		<div class="talent-level card clipped-bot flexcol" style="max-width: 33%; flex-shrink: 1">
			<div class="arrayed-item-container licensed-container flexcol" style="background-color: #dbdbdb; justify-content: flex-start; flex-grow: unset;" data-item="content.{{rank}}">
				<div>
					<span class="minor" style="align-content: center;">//RANK {{rank}}</span>
					<a class="add-button clickable" data-action="create"  style="float: right; margin-right: 1em">+</a>
				</div>
				{{#each this as |licenced key|}}
				<div class="flexrow arrayed-item" data-key="{{key}}">
					<div class="remove-wrapper">
						<input type="String" name="data.content.{{rank}}.{{key}}.text" value="{{this.text}}" data-dtype="String" class="major" style="background: transparent; max-width: 10ch"/>

						<a class="remove-button fa fa-trash clickable" data-action="delete" style="float: right; margin-right: 11px; margin-top: 2px"></a>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
		{{/each}}
	</div>

</form>