<form class="{{cssClass}} lancer-sheet" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <img class="profile-img" src="{{item.img}}" data-edit="item.img" title="{{item.name}}" height="100" width="100"/>
    <div class="header-fields" style="grid-area: 1/1/2/5;">
      <h1 class="charname"><input class="header-field" name="item.name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body" style="height: 100%">
    <div style="grid-template: 2em 10em fit-content(0) fit-content(0) 1fr / repeat(3, 1fr); display: grid;">


      <div class="flexcol">
        <div class="desc-text">{{editor content=mm.ent.Description target="mm.ent.Description" button=true owner=owner editable=editable}}</div>
        <div class="desc-text">{{editor content=mm.ent.Quote target="mm.ent.Quote" button=true owner=owner editable=editable}}</div>
      </div>
    </div>
  </section>

</form>
