<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="flexcol grow">
      <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
    {{{ ref-portrait-img item.img "img" mm.ent }}}
  </header>

  <div class="card">
    <div class="lancer-header stretch">
      <!-- Put all the system metadata up here -->
      {{{item-edit-sp                   "mm.ent.SP"}}}
      {{{item-edit-uses                 "mm.ent.Uses" "data.derived.max_uses"}}}
      <div>
        {{{sys-type-sel "mm.ent.SysType"}}}
      </div>
      {{{item-edit-license}}}
    </div>


    {{{textarea-card "DESCRIPTION" "mm.ent.Description"}}}
    {{{textarea-card "EFFECT" "mm.ent.Effect"}}}

    {{!-- Bonuses --}}
    {{{item-edit-arrayed-actions      "mm.ent.Actions"        "ACTIONS"}}}
    {{{item-edit-arrayed-bonuses      "mm.ent.Bonuses"}}}
    {{{counter-array mm.ent.Counters "mm.ent.Counters" "mm.ent.Counters" true}}}
    {{{item-edit-arrayed-deployables  "mm.ent.Deployables"                "DEPLOYABLES"}}}
    {{{item-edit-arrayed-synergies    "mm.ent.Synergies"                  "SYNERGIES"}}}
    {{{item-edit-arrayed-integrated   "mm.ent.Integrated"                 "INTEGRATED ITEMS"}}}
    <div class="flexrow">
    </div>

    {{!-- Tags --}}
    <div class="card">
      <span class="lancer-header major">TAGS</span>
      {{{mm-tag-list "mm.ent.Tags" mm.ent.Tags editable}}}
    </div>

  </div>
</form>