<form class="{{cssClass}} lancer-sheet" autocomplete="off">

	{{!-- Sheet Header --}}
	<header class="sheet-header card clipped-bot">
		<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
		</div>
	</header>

	{{!-- Sheet Body --}}
	<section class="sheet-body" style="height:-webkit-fill-available">
		<div style="grid-template: 1fr 1fr 2fr 5fr / 1fr; display: grid">
			<div class="flexrow">
				<div class="flexcol">
					<select name="data.range.0.type" data-type="String">
						{{#select data.range.0.type}}
						<option value="range">RANGE</option>
						<option value="threat">THREAT</option>
						<option value="throw">THROW</option>
						<option value="line">LINE</option>
						<option value="cone">CONE</option>
						<option value="blast">BLAST</option>
						<option value="burst">BURST</option>
						{{/select}}
					</select>
					<input class="lancer-stat-input " type="number" name="data.range.0.val" value="{{data.range.0.val}}" data-dtype="Number"/>
				</div>
				<div class="flexcol">
					<select name="data.range.1.type" data-type="String">
						{{#select data.range.1.type}}
						<option value="range">RANGE</option>
						<option value="threat">THREAT</option>
						<option value="throw">THROW</option>
						<option value="line">LINE</option>
						<option value="cone">CONE</option>
						<option value="blast">BLAST</option>
						<option value="burst">BURST</option>
						{{/select}}
					</select>
					<input class="lancer-stat-input" type="number" name="data.range.1.val" value="{{data.range.1.val}}" data-dtype="Number"/>
				</div>
				<div style="max-width=50%"></div>
				<!--
				For a next iteration--would be really nift to set it up to select images rather than text. 
				But that seems like a non-trivial task...
				<img class="med-icon" src="../systems/lancer/assets/icons/range.svg">
				<img class="med-icon" src="../systems/lancer/assets/icons/aoe_blast.svg">
				<img class="med-icon" src="../systems/lancer/assets/icons/damage_explosive.svg">
			-->
			<div>
				<select name="data.mount" data-type="String">
					{{#select data.mount}}
					<option value="aux">AUX</option>
					<option value="main">MAIN</option>
					<option value="heavy">HEAVY</option>
					<option value="superheavy">SUPERHEAVY</option>
					<option value="other">OTHER</option>
					{{/select}}
				</select>
				<select name="data.weapon_type" data-type="String">
					{{#select data.weapon_type}}
					<option value="rifle">RIFLE</option>
					<option value="cannon">CANNON</option>
					<option value="launcher">LAUNCHER</option>
					<option value="cqb">CQB</option>
					<option value="nexus">NEXUS</option>
					<option value="melee">MELEE</option>
					<option value="other">OTHER</option>
					{{/select}}
				</select>
			</div>
		</div>
		<div style="grid-area: 2 / 1 / 3 / 2;margin-top: 6px">
			<div class="flexcol" style="float: left">
				<select name="data.damage.0.type" data-type="String">
					{{#select data.damage.0.type}}
					<option value="kinetic">KINETIC</option>
					<option value="energy">ENERGY</option>
					<option value="explosive">EXPLOSIVE</option>
					<option value="heat">HEAT</option>
					<option value="burn">BURN</option>
					<option value="other">OTHER</option>
					{{/select}}
				</select>
				<input class="lancer-stat-input " type="string" name="data.damage.0.val" value="{{data.damage.0.val}}" data-dtype="String"/>
			</div>
			<span style="float: left">+</span>
			<div class="flexcol" style="float: left">
				<select name="data.damage.1.type" data-type="String">
					{{#select data.damage.1.type}}
					<option value="kinetic">KINETIC</option>
					<option value="energy">ENERGY</option>
					<option value="explosive">EXPLOSIVE</option>
					<option value="heat">HEAT</option>
					<option value="burn">BURN</option>
					<option value="other">OTHER</option>
					{{/select}}
				</select>
				<input class="lancer-stat-input " type="string" name="data.damage.1.val" value="{{data.damage.1.val}}" data-dtype="String"/>
			</div>
			<div style="width: calc(100px + 1ch); float: right" class="labeled-input flexcol">
				<span>USES</span>
				<div class="flexrow">
					<input class="lancer-stat-input lancer-invisible-input" type="number" name="data.uses" value="{{data.uses}}" data-dtype="Number" style="justify-content: left"/>
					<span>/</span>
					<input class="lancer-stat-input lancer-invisible-input" type="number" name="data.max_uses" value="{{data.max_uses}}" data-dtype="Number" style="justify-content: left"/>
				</div>
			</div>
		</div>
		<div class="flexcol card clipped" style="grid-area: 3 / 1 / 4 / 2">
			<span class="lancer-stat-header major clipped-top">DESCRIPTION</span>
			{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
		</div>
		<!-- TODO: Bring this out to be a handlebars partial. Will need to pass in context appropriately. -->
		<div  class="tags-container flexcol" style="grid-area: 4 / 1 / 5 / 2">
			<div>
				<span class="minor" style="float: left">WEAPON TAGS</span>
				<a class="add-button clickable"style="float: right; margin-right: 1em">+</a>
			</div>
			{{#each item.data.tags as |tag key|}}
			<div class="flexrow tag" data-key="{{key}}">
				<div class="tag-label">
					<i class="med-icon fa fa-3x fa-tag" style="margin: 3px"></i>
				</div>
				<div class="flexcol">
					<div class="remove-wrapper">
						<input type="String" name="data.tags.{{key}}.name" value="{{tag.name}}" data-dtype="String" class="major lancer-invisible-input"/>
						<a class="remove-button fa fa-trash clickable" style="float: right; margin-right: 11px; margin-top: 2px"></a>
					</div>
					<textarea class="lancer-invisible-input minor" type="string" name="data.tags.{{key}}.description" data-dtype="String">{{tag.description}}</textarea>
				</div>
			</div>
			{{/each}}
		</div>
	</div>

</form>