<form class="{{cssClass}} lancer-sheet" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    {{{ ref-portrait-img "item.img" mm.ent }}}
    <div class="header-fields" style="grid-area: 1/1/2/5;">
      <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
    <div class="header-fields flexrow" style="grid-area: 2/1/3/5">
      {{{ ref-manufacturer mm.ent.Source }}}
      {{{ ref-license license mm.ent.LicenseLevel }}}
    </div>
  </header>

  <div class="flexcol">
    <div>
      <div class="flexcol labeled-input" style="float: left">
        <span>SP</span>
        <input class="lancer-stat lancer-invisible-input" type="number" name="mm.ent.SP" value="{{mm.ent.SP}}" data-dtype="Number" style="justify-content: left"/>
      </div>
      <!-- TODO: Make this a handlebars partial, a lot of things will need a standardized way to track uses -->
      <div style="float: left; margin-left: 1em;" class="labeled-input flexcol">
        <span>USES</span>
        <div class="flexrow">
          <input class="lancer-stat lancer-invisible-input" type="number" name="mm.ent.Uses" value="{{mm.ent.Uses}}" data-dtype="Number" style="justify-content: left"/>
          <span>/</span>
          <input class="lancer-stat lancer-invisible-input" type="number" name="mm.ent.MaxUses" value="{{mm.ent.MaxUses}}" data-dtype="Number" style="justify-content: left"/>
        </div>
      </div>
      <div class="flexcol" style="float:right">
        {{{sys-type-sel mm.Ent.SysType "mm.ent.SysType"}}}
        {{!-- <div class="license-desc">
          <span>// </span>
          <input name="mm.ent.License" value="{{mm.ent.License}}" data-dtype="String"/>
          <input type="number" name="mm.ent.LicenseLevel" value="{{mm.ent.LicenseLevel}}" data-dtype="Number"/>
        </div> --}}
      </div>
    </div>
    <div class="flexcol card clipped">
      <span class="lancer-stat-header major clipped-top">DESCRIPTION</span>
      <div style="margin: 5px">
        {{editor content=mm.ent.Description target="mm.ent.Description" button=true owner=owner editable=editable}}
      </div>
    </div>

    {{!-- EFFECT --}}
    <!--
    <div class="effects-container flexcol card clipped">
      <span class="lancer-stat-header major clipped-top" style="float: left">EFFECT</span>
      <div class="flexcol" style="padding: 5px">
        {{{eff-type-sel data.effect.effect_type "data.effect.effect_type"}}}

        {{!-- BASIC or GENERIC EFFECT --}}
        {{#if (or (eq data.effect.effect_type "Basic") (eq data.effect.effect_type "Generic"))}}
        <div class="lancer-stat-header clipped-top flexrow" style="margin-top: 5px;">
          <span style="margin-left: 10px; max-width: max-content;">EFFECT NAME // </span>
          <input style="margin: 3px;" class="header-field medium" type="text" name="data.effect.name" value="{{data.effect.name}}" placeholder="Optional" data-dtype="String"/>
        </div>
        {{{act-type-sel data.effect.activation "data.effect.activation"}}}
        <div class="card clipped flexcol">
          <span class="lancer-stat-header major clipped-top" style="float: left">DETAIL</span>
          <div style="margin: 5px">
            {{editor content=data.effect.detail target="data.effect.detail" button=true owner=owner editable=editable}}
          </div>
        </div>
        {{/if}}

        {{!-- AI EFFECT --}}
        {{#if (eq data.effect.effect_type "AI")}}
        <div class="lancer-stat-header clipped-top flexrow" style="margin-top: 5px;">
          <span style="margin-left: 10px; max-width: max-content;">EFFECT NAME // </span>
          <input style="margin: 3px;" class="header-field medium" type="text" name="data.effect.name" value="{{data.effect.name}}" placeholder="Optional" data-dtype="String"/>
        </div>
        <div class="flexcol">
          {{#each data.effect.abilities as |ability key|}}
          {{!-- TODO Render each ability as an effect block here. Will eventually need Add and Remove buttons. --}}
          {{/each}}
        </div>
        {{/if}}

        {{!-- BONUS EFFECT --}}
        {{#if (eq data.effect.effect_type "Bonus")}}
        <div class="lancer-stat-header clipped-top flexrow" style="margin-top: 5px;">
          <span style="margin-left: 10px; max-width: max-content;">EFFECT NAME // </span>
          <input style="margin: 3px;" class="header-field medium" type="text" name="data.effect.name" value="{{data.effect.name}}" placeholder="Optional" data-dtype="String"/>
        </div>
        <div class="card clipped flexcol">
          <div style="display: grid; grid-template: 3 / 2;">
            <div class="flexcol card clipped" style="grid-area: 1/1/2/2">
              <div class="lancer-stat-header clipped-top flexrow">
                <i class="cci cci-size-1 i--m i--light" style="float: left; padding-left: 10px"> </i>
                <span class="major">SIZE</span>
              </div>
              <input class="lancer-stat medium" type="number" name="data.effect.size" value="{{data.effect.size}}" data-dtype="Number"/>
            </div>
            <div class="flexcol card clipped" style="grid-area: 1/2/2/3">
              <div class="lancer-stat-header clipped-top flexrow">
                <i class="mdi mdi-heart-outline i--m i--light" style="float: left; padding-left: 10px"> </i>
                <span class="major">HP</span>
              </div>
              <input class="lancer-stat medium" type="number" name="data.effect.hp" value="{{data.effect.hp}}" data-dtype="Number"/>
            </div>
            <div class="flexcol card clipped" style="grid-area: 2/1/3/2">
              <div class="lancer-stat-header clipped-top flexrow">
                <i class="mdi mdi-shield-outline i--m i--light" style="float: left; padding-left: 10px"> </i>
                <span class="major">ARMOR</span>
              </div>
              <input class="lancer-stat medium" type="number" name="data.effect.armor" value="{{data.effect.armor}}" data-dtype="Number"/>
            </div>
            <div class="flexcol card clipped" style="grid-area: 2/2/3/3">
              <div class="lancer-stat-header clipped-top flexrow">
                <i class="cci cci-evasion i--m i--light" style="float: left; padding-left: 10px"> </i>
                <span class="major">EVASION</span>
              </div>
              <input class="lancer-stat medium" type="number" name="data.effect.evasion" value="{{data.effect.evasion}}" data-dtype="Number"/>
            </div>
            <div class="flexcol card clipped" style="grid-area: 3/1/4/2">
              <div class="lancer-stat-header clipped-top flexrow">
                <i class="cci cci-edef i--m i--light" style="float: left; padding-left: 10px"> </i>
                <span class="major">E-DEF</span>
              </div>
              <input class="lancer-stat medium" type="number" name="data.effect.edef" value="{{data.effect.edef}}" data-dtype="Number"/>
            </div>
          </div>

          <span class="lancer-stat-header major clipped-top" style="float: left">DETAIL</span>
          <div style="margin: 5px">
            {{editor content=data.effect.detail target="data.effect.detail" button=true owner=owner editable=editable}}
          </div>
        </div>
        {{/if}}

        {{!-- CHARGE EFFECT --}}
        {{#if (eq data.effect.effect_type "Charge")}}
        <div class="arrayed-item-container flexcol" data-item="effect.charges">
          <div>
            <span class="minor" style="float: left">Expend a charge for one of the following effects:</span>
            {{!-- TODO: Make the add button work again, so additional charge effects can be added. --}}
            {{!-- <a class="add-button clickable" data-action="create" style="float: right; margin-right: 1em">+</a> --}}
          </div>
          <div class="flexcol">
            <div class="card clipped">
              <div class="flexcol" style="margin: 5px;">
                <div class="lancer-stat-header clipped-top flexrow">
                  <span style="margin-left: 10px; max-width: max-content;">CHARGE NAME // </span>
                  <input style="margin: 3px;" class="header-field medium" type="text" name="data.effect.charges.0.name" value="{{data.effect.charges.0.name}}" data-dtype="String"/>
                </div>
                <div style="margin: 3px; float: left;">
                  {{{chg-type-sel data.effect.charges.0.charge_type "data.effect.charges.0.charge_type"}}}
                </div>
                <div class="flexrow card clipped" style="margin: 5px;">
                  {{{wpn-range-sel data.effect.charges.0.range "0" "data.effect.charges.0.range.0"}}}
                  {{{wpn-range-sel data.effect.charges.0.range "1" "data.effect.charges.0.range.1"}}}
                </div>
                <div class="flexrow card clipped" style="margin: 5px;">
                  {{{wpn-damage-sel data.effect.charges.0.damage "0" "data.effect.charges.0.damage.0"}}}
                  {{{wpn-damage-sel data.effect.charges.0.damage "1" "data.effect.charges.0.damage.1"}}}
                </div>
                <span class="medium" style="float: left;"> EFFECT </span>
                <textarea class="" type="string" name="data.effect.charges.0.detail" data-dtype="String">{{data.effect.charges.0.detail}}</textarea>
              </div>
            </div>
            <div class="card clipped">
              <div class="flexcol" style="margin: 5px;">
                <div class="lancer-stat-header clipped-top flexrow">
                  <span style="margin-left: 10px; max-width: max-content;">CHARGE NAME // </span>
                  <input style="margin: 3px;" class="header-field medium" type="text" name="data.effect.charges.1.name" value="{{data.effect.charges.1.name}}" data-dtype="String"/>
                </div>
                <div style="margin: 3px; float: left;">
                  {{{chg-type-sel data.effect.charges.1.charge_type "data.effect.charges.1.charge_type"}}}
                </div>
                <div class="flexrow card clipped" style="margin: 5px;">
                  {{{wpn-range-sel data.effect.charges.1.range "0" "data.effect.charges.1.range.0"}}}
                  {{{wpn-range-sel data.effect.charges.1.range "1" "data.effect.charges.1.range.1"}}}
                </div>
                <div class="flexrow card clipped" style="margin: 5px;">
                  {{{wpn-damage-sel data.effect.charges.1.damage "0" "data.effect.charges.1.damage.0"}}}
                  {{{wpn-damage-sel data.effect.charges.1.damage "1" "data.effect.charges.1.damage.1"}}}
                </div>
                <span class="medium" style="float: left;"> EFFECT </span>
                <textarea class="" type="string" name="data.effect.charges.1.detail" data-dtype="String">{{data.effect.charges.1.detail}}</textarea>
              </div>
            </div>
          </div>

        </div>
        {{/if}}

        {{!-- DEPLOYABLE EFFECT --}}
        {{#if (eq data.effect.effect_type "Deployable")}}

        {{/if}}

        {{!-- DRONE EFFECT --}}
        {{#if (eq data.effect.effect_type "Drone")}}

        {{/if}}

        {{!-- OFFENSIVE EFFECT --}}
        {{#if (eq data.effect.effect_type "Offensive")}}

        {{/if}}

        {{!-- PROFILE EFFECT --}}
        {{#if (eq data.effect.effect_type "Profile")}}

        {{/if}}

        {{!-- PROTOCOL EFFECT --}}
        {{#if (eq data.effect.effect_type "Protocol")}}

        {{/if}}

        {{!-- REACTION EFFECT --}}
        {{#if (eq data.effect.effect_type "Reaction")}}

        {{/if}}

        {{!-- TECH EFFECT --}}
        {{#if (eq data.effect.effect_type "Tech")}}

        {{/if}}

        {{!--
        {{#each item.data.effect as |eff key|}}
        <div class="flexrow effect" data-key="{{key}}">
          <div class="flexcol">
            <div class="remove-wrapper">
              <input name="data.effect.{{key}}.name" value="{{eff.name}}" data-dtype="String" class="major lancer-invisible-input"/>
              <a class="remove-button fa fa-trash clickable" data-action="delete" data-item="effect" style="float: right; margin-right: 14px; margin-top: 2px"></a>
            </div>
            <textarea class="lancer-invisible-input minor" name="data.effect.{{key}}.description" data-dtype="String">{{eff.description}}</textarea>
          </div>
        </div>
        {{/each}}
        --}}
      </div>
    </div>
  -->

    {{!-- TAGS --}}
    {{!-- TODO: Bring this out to be a handlebars partial. Will need to pass in context appropriately. --}}
    <div class="tags-container flexcol" data-item="tags">
        <span class="minor" style="float: left">EQUIPMENT TAGS</span>
        <!--<a class="add-button clickable" data-action="create" style="float: right; margin-right: 1em">+</a>-->
        {{{mm-tag-list mm.ent.Tags}}}
    </div>
  </div>
</form>