<form class="{{cssClass}} lancer-sheet" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
    <div class="header-fields" style="grid-area: 1/1/2/5;">
      <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
    <div class="header-fields flexrow" style="grid-area: 2/1/3/5">
      <h3 class="origin_name"><input class="header-field" name="data.origin_name" type="text" value="{{data.origin_name}}" placeholder="Origin Name"/></h3>
      <h3 class="origin_type"><input class="header-field" name="data.origin_type" type="text" value="{{data.origin_type}}" placeholder="Origin Type"/></h3>
      <h3 class="origin_type">
        <select class="header-field" name="data.feature_type" data-type="String">
          {{#select data.feature_type}}
          <option class="i--dark" value="Reaction">REACTION</option>
          <option class="i--dark" value="System">SYSTEM</option>
          <option class="i--dark" value="Tech">TECH</option>
          <option class="i--dark" value="Trait">TRAIT</option>
          <option class="i--dark" value="Weapon">WEAPON</option>
          {{/select}}
        </select>
      </h3>
      <h3 class="origin_base">BASE:<input type="checkbox" name="data.origin_base" {{checked data.origin_base}}></h3>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body" style="height: 100%">

    {{!-- Limited Uses Tracking --}}
    <div class="flexrow stat-container" style="align-self: center; margin: 5px 30px; max-width: max-content;">
      <span class="medium" >USES:</span>
      <input class="lancer-stat major" type="number" name="data.uses" value="{{data.uses}}" data-dtype="Number"/>
      <span class="medium" style="max-width: min-content;" >/</span>
      <input class="lancer-stat major" type="number" name="data.max_uses" value="{{data.max_uses}}" data-dtype="Number"/>
    </div>

    {{!-- Reaction --}}
    {{#if (eq data.feature_type "Reaction")}}
    <div class="flexcol clipped card">
      <span class="lancer-stat-header major clipped-top">TRIGGER</span>
      {{editor content=data.trigger target="data.trigger" button=true editable=editable}}
      <span class="lancer-stat-header major clipped-top">EFFECT</span>
      {{editor content=data.effect target="data.effect" button=true editable=editable}}
    </div>
    {{/if}}

    {{!-- System --}}
    {{#if (eq data.feature_type "System")}}
    <div class="flexcol clipped card">
      <span class="lancer-stat-header major clipped-top">EFFECT</span>
      {{editor content=data.effect target="data.effect" button=true editable=editable}}
    </div>
    {{/if}}

    {{!-- Trait --}}
    {{#if (eq data.feature_type "Trait")}}
    <div class="flexcol clipped card">
      <span class="lancer-stat-header major clipped-top">EFFECT</span>
      {{editor content=data.effect target="data.effect" button=true editable=editable}}
    </div>
    {{/if}}

    {{!-- Tech --}}
    {{#if (eq data.feature_type "Tech")}}
    <div style="grid-template: 2em 10em 1fr / 1fr 1fr; display: grid;">
      <div style="grid-area: 1/1/2/3; margin-left: 30px;">
        <span class="medium">TECH</span>
        <select name="data.tech_type" data-type="String" style="align-self: center;">
          {{#select data.tech_type}}
          <option value="Quick">QUICK</option>
          <option value="Full">FULL</option>
          {{/select}}
        </select>
      </div>
      <div class="flexcol card clipped" style="grid-area: 2/1/3/2;">
        <span class="lancer-stat-header major clipped-top"><i class="cci cci-reticule i--s i--light"></i>ATTACK BONUS</span>
        <div class="flexrow flex-center">
          <i class="cci cci-npc-tier-1 i--m i--dark"></i>
          {{{l-num-input "data.attack_bonus" data.attack_bonus.[0]}}}
        </div>
        <div class="flexrow flex-center">
          <i class="cci cci-npc-tier-2 i--m i--dark"></i>
          {{{l-num-input "data.attack_bonus" data.attack_bonus.[1]}}}
        </div>
        <div class="flexrow flex-center">
          <i class="cci cci-npc-tier-3 i--m i--dark"></i>
          {{{l-num-input "data.attack_bonus" data.attack_bonus.[2]}}}
        </div>
      </div>
      <div class="flexcol card clipped" style="grid-area: 2/2/3/3;">
        <span class="lancer-stat-header major clipped-top"><i class="cci cci-accuracy i--s i--light"></i>ACCURACY</span>
        <div class="flexrow flex-center">
          <i class="cci cci-npc-tier-1 i--m i--dark"></i>
          {{{l-num-input "data.accuracy" data.accuracy.[0]}}}
        </div>
        <div class="flexrow flex-center">
          <i class="cci cci-npc-tier-2 i--m i--dark"></i>
          {{{l-num-input "data.accuracy" data.accuracy.[1]}}}
        </div>
        <div class="flexrow flex-center">
          <i class="cci cci-npc-tier-3 i--m i--dark"></i>
          {{{l-num-input "data.accuracy" data.accuracy.[2]}}}
        </div>
      </div>
      <div class="flexcol card clipped" style="grid-area: 3/1/4/3;">
        <span class="lancer-stat-header major clipped-top">EFFECT</span>
        {{editor content=data.effect target="data.effect" button=true editable=editable}}
      </div>
    </div>
    {{/if}}

    {{!-- Weapon --}}
    {{#if (eq data.feature_type "Weapon")}}
    <div style="grid-template: 2em 10em 12em 1fr / repeat(3, 1fr); display: grid;">
      <div style="grid-area: 1/1/2/4; margin-left: 30px;">
        <span class="medium">SIZE</span>
        {{{wpn-size-sel data.weapon_size "data.weapon_size"}}}
        <span class="medium">TYPE</span>
        {{{wpn-type-sel data.weapon_type "data.weapon_type"}}}
      </div>
      <div class="flexcol card clipped" style="grid-area: 2/1/3/2;">
        <span class="lancer-stat-header major clipped-top">RANGE</span>
        {{{wpn-range-sel data.range "0" "data.range.0"}}}
        {{{wpn-range-sel data.range "1" "data.range.1"}}}
      </div>
      <div class="flexcol card clipped" style="grid-area: 2/2/3/3;">
        <span class="lancer-stat-header major clipped-top"><i class="cci cci-reticule i--s i--light"></i>ATTACK BONUS</span>
        <div class="flexrow flex-center">
          <i class="cci cci-npc-tier-1 i--m i--dark"></i>
          {{{l-num-input "data.attack_bonus" data.attack_bonus.[0]}}}
        </div>
        <div class="flexrow flex-center">
          <i class="cci cci-npc-tier-2 i--m i--dark"></i>
          {{{l-num-input "data.attack_bonus" data.attack_bonus.[1]}}}
        </div>
        <div class="flexrow flex-center">
          <i class="cci cci-npc-tier-3 i--m i--dark"></i>
          {{{l-num-input "data.attack_bonus" data.attack_bonus.[2]}}}
        </div>
      </div>
      <div class="flexcol card clipped" style="grid-area: 2/3/3/4;">
        <span class="lancer-stat-header major clipped-top"><i class="cci cci-accuracy i--s i--light"></i>ACCURACY</span>
        <div class="flexrow flex-center">
          <i class="cci cci-npc-tier-1 i--m i--dark"></i>
          {{{l-num-input "data.accuracy" data.accuracy.[0]}}}
        </div>
        <div class="flexrow flex-center">
          <i class="cci cci-npc-tier-2 i--m i--dark"></i>
          {{{l-num-input "data.accuracy" data.accuracy.[1]}}}
        </div>
        <div class="flexrow flex-center">
          <i class="cci cci-npc-tier-3 i--m i--dark"></i>
          {{{l-num-input "data.accuracy" data.accuracy.[2]}}}
        </div>
      </div>
      <div class="flexrow" style="grid-area: 3/1/4/4; margin-top: 6px">
        <div class="flexcol card clipped">
          <span class="lancer-stat-header major clipped-top">DAMAGE 1</span>
          {{{npc-wpn-damage-sel data.damage "0" "data.damage.0"}}}
        </div>
        <div class="flexcol card clipped">
          <span class="lancer-stat-header major clipped-top">DAMAGE 2</span>
          {{{npc-wpn-damage-sel data.damage "1" "data.damage.1"}}}
        </div>
      </div>
      <div class="flexcol card clipped" style="grid-area: 4/1/5/4;">
        <span class="lancer-stat-header major clipped-top">ON HIT EFFECT</span>
        {{editor content=data.on_hit target="data.on_hit" button=true editable=editable}}
        <span class="lancer-stat-header major clipped-top">EFFECT</span>
        {{editor content=data.effect target="data.effect" button=true editable=editable}}
      </div>
    </div>
    {{/if}}

    {{!-- Tags - for all feature types --}}
    <div class="arrayed-item-container tags-container flexcol" style="grid-area: 5/1/6/4;" data-item="tags">
      <div>
        <span class="minor" style="float: left">TAGS</span>
        <a class="add-button clickable" data-action="create" style="float: right; margin-right: 1em">+</a>
      </div>
      {{#each item.data.tags as |tag key|}}
      {{{full-tag tag key "data.tags"}}}
      {{/each}}
    </div>
  </section>
</form>
