<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100" />
    <div class="header-fields" style="grid-area: 1/1/2/5;">
      <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>
  
  {{!-- Description --}}
  <div class="flexcol card clipped" style="text-align: left;">
    <span class="lancer-stat-header major clipped-top" style="text-align: center;">DESCRIPTION</span>
    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
  </div>
  
  <div class="flexcol tags-container" style="margin: 10px;">
    <div class="flexrow lancer-title">
      <div class="major">BASE FEATURES</div>
      <a class="add-button clickable" style="float: right; margin-right: 1em; max-width: 30px;">+</a>
    </div>
      <ul>
        <div id="base_feature_items"></div>
      </ul>
  </div>

  <div class="flexcol tags-container" style="margin: 10px;">
    <div class="flexrow lancer-title">
      <div class="major">OPTIONAL FEATURES</div>
      <a class="add-button clickable" style="float: right; margin-right: 1em; max-width: 30px;">+</a>
    </div>
      <ul>
        <div id="optional_feature_items"></div>
      </ul>
  </div>
  </form>