<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="flexrow">
      <div class="header-fields">
        <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      </div>
      {{{ ref-portrait-img item.img "img" mm.ent }}}
    </div>
  </header>
  <div class="flexcol">
    {{!-- Weapon Stats --}}
    <div class="flexrow">
      {{{item-edit-arrayed-range        "mm.ent.Range"     "RANGE"}}}
      {{{item-edit-arrayed-damage       "mm.ent.Damage"    "DAMAGE"}}}
    </div>
    <div class="flexrow">
      {{#if mm.ent.IsLoading}}
        {{{ std-checkbox "mm.ent.Loaded" label="LOADED:" }}}
      {{/if}}
      {{#if mm.ent.IsLimited}}
        {{{item-edit-uses "mm.ent.Uses" "data.derived.max_uses"}}}
      {{/if}}
    </div>

    {{{textarea-card "DESCRIPTION" "mm.ent.Description"}}}
    {{{textarea-card "EFFECT" "mm.ent.Effect"}}}

    {{!-- Bonuses --}}
    {{{item-edit-arrayed-actions      "mm.ent.Actions"        "ACTIONS"}}}
    {{{item-edit-arrayed-bonuses      "mm.ent.Bonuses"}}}
    {{{item-edit-arrayed-deployables  "mm.ent.Deployables"                "DEPLOYABLES"}}}
    {{{item-edit-arrayed-synergies    "mm.ent.Synergies"                  "SYNERGIES"}}}

    {{!-- Tags --}}
    <div class="card full">
      <span class="lancer-header major">TAGS</span>
      {{{mm-tag-list "mm.ent.Tags" mm.ent.Tags editable}}}
    </div>

  </div>

</form>