<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
    <div class="header-fields" style="grid-area: 1/1/2/5;">
      <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>
  <div class="flexcol">
    {{!-- Weapon Stats --}}
    <div class="flexrow">
      {{{wpn-range-sel data.range "0" "data.range.0"}}}
      {{{wpn-damage-sel data.damage "0" "data.damage.0"}}}
    </div>

    {{!-- Compendium --}}

    <div class="flexcol card clipped">
      <span class="lancer-header major ">DESCRIPTION</span>
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Tags --}}

    <div class="arrayed-item-container tags-container flexcol" data-item="tags">
      <div>
        <span class="minor" style="float: left">EQUIPMENT TAGS</span>
        <a class="add-button clickable" data-action="create" style="float: right; margin-right: 1em">+</a>
      </div>
      {{#each item.data.tags as |tag key|}}
        {{{full-tag tag key "data.tags"}}}
      {{/each}}
    </div>
  </div>

</form>