<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="flexrow">
      <div class="header-fields">
        <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      </div>
      {{{ ref-portrait-img item.img "img" mm.ent }}}
    </div>
  </header>

  {{!-- Stats. These are covered by bonuses, but it might be nice to have a more formal UI for them
    <!--
  <div class="card clipped">
    <div class="flexwrap quadruple">
      <div class="card clipped">
        <div class="lancer-header">
          <i class="mdi mdi-shield-outline i--m i--light header-icon"> </i>
          <span class="major">ARMOR</span>
        </div>
        {{{l-num-input "data.armor" data.armor}}}
      </div>
      <div class="card clipped">
        <div class="lancer-header">
          <i class="mdi mdi-heart-outline i--m i--light header-icon"> </i>
          <span class="major">HP BONUS</span>
        </div>
        {{{l-num-input "data.hp_bonus" data.hp_bonus}}}
      </div>
      <div class="card clipped">
        <div class="lancer-header">
          <i class="cci cci-edef i--m i--light header-icon"> </i>
          <span class="major">E-DEF</span>
        </div>
        {{{l-num-input "data.edef" data.edef}}}
      </div>
      <div class="card clipped">
        <div class="lancer-header">
          <i class="cci cci-evasion i--m i--light header-icon"> </i>
          <span class="major">EVASION</span>
        </div>
        {{{l-num-input "data.evasion" data.evasion}}}
      </div>
      <div class="card clipped">
        <div class="lancer-header">
          <i class="mdi mdi-arrow-right-bold-hexagon-outline i--m i--light header-icon"> </i>
          <span class="major">SPEED</span>
        </div>
        {{{l-num-input "data.speed" data.speed}}}
      </div>
    </div>
  </div>
-->
  --}}

  {{!-- Description --}}
  {{{textarea-card "DESCRIPTION" "mm.ent.Description"}}}

  {{!-- Tags --}}
  <div class="card">
    <span class="lancer-header major">TAGS</span>
    {{{mm-tag-list "mm.ent.Tags" mm.ent.Tags}}}
  </div>

  {{!-- Bonuses --}} 
  {{{bonuses-view "mm.ent.Bonuses" mm.ent.Bonuses editable}}}
</form>
