<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="flexrow">
      <div class="header-fields">
        <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      </div>
      {{{ ref-portrait-img item.img "img" mm.ent }}}
    </div>
  </header>
  <div class="flexcol">
    {{!-- Weapon Stats --}}
    <div class="flexrow">
      {{#each mm.ent.Range as |range range_index| }}
        {{{wpn-range-sel range (concat "mm.ent.Range." range_index) }}}
      {{/each}}
      {{#each mm.ent.Damage as |damage damage_index| }}
        {{{wpn-damage-sel damage (concat "mm.ent.Damage." damage_index) }}}
      {{/each}}
    </div>

    {{{textarea-card "DESCRIPTION" "mm.ent.Description"}}}

    {{!-- Tags --}}
    <div class="card full">
      <span class="lancer-header major">TAGS</span>
      {{{mm-tag-list "mm.ent.Tags" mm.ent.Tags}}}
    </div>

    {{!-- Bonuses --}}
    {{{bonuses-view "mm.ent.Bonuses" mm.ent.Bonuses editable}}}
  </div>

</form>