<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="flexrow">
      <div class="header-fields">
        <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      </div>
      {{{ ref-portrait-img item.img "img" mm.ent }}}
    </div>
  </header>

  <div class="flexcol">
    {{!-- Uses --}}
    <div>
        {{{uses-ctrl "mm.ent.Uses" mm.ent.MaxUses}}}
    </div>

    {{!-- Description --}}
    <div class="card clipped">
      <span class="lancer-header major ">DESCRIPTION</span>
      <div class="big-editor">
        {{editor content=mm.ent.description target="mm.ent.description" button=true owner=owner editable=editable}}
      </div>
    </div>

    {{!-- Tags --}}
    <div class="card">
      <span class="lancer-header major">TAGS</span>
      {{{mm-tag-list "mm.ent.Tags" mm.ent.Tags}}}
    </div>
    
    {{!-- Bonuses --}}
    {{{bonuses-view "mm.ent.Bonuses" mm.ent.Bonuses editable}}}
  </div>

</form>