<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="flexrow">
      <div class="header-fields">
        <h1 class="charname">
          <input
            class="header-field"
            name="name"
            type="text"
            value="{{item.name}}"
            placeholder="Name"
          />
        </h1>
      </div>
      {{{ ref-portrait-img item.img "img" mm.ent }}}
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="flexrow">
      <div class="flexcol">
        <span>CONSUMABLE:</span>
        <input type="checkbox" name="mm.ent.Consumable" {{checked mm.ent.Consumable}}>
      </div>
      <div class="flexcol">
        <span>USED:</span>
        <input type="checkbox" name="mm.ent.Used" {{checked mm.ent.Used}}>
      </div>
    </div>
    {{{textarea-card "DESCRIPTION" "mm.ent.Description"}}}
    {{{item-edit-arrayed-actions      "mm.ent.Actions"        "ACTIONS"}}}
    {{{item-edit-arrayed-bonuses      "mm.ent.Bonuses"}}}
    {{{item-edit-arrayed-counters     "mm.ent"}}}
    {{{item-edit-arrayed-deployables  "mm.ent.Deployables"                "DEPLOYABLES"}}}
    {{{item-edit-arrayed-integrated   "mm.ent.Integrated"                 "INTEGRATED ITEMS"}}}
    {{{item-edit-arrayed-synergies    "mm.ent.Synergies"                  "SYNERGIES"}}}
    <div class="flexrow">
      {{{std-string-input             "mm.ent.ReserveType"    label="RESERVE TYPE"}}}
      {{{std-string-input             "mm.ent.ResourceCost"   label="RESOURCE COST"}}}
      {{{std-string-input             "mm.ent.ResourceLabel"  label="RESOURCE LABEL"}}}
      {{{std-string-input             "mm.ent.ResourceName"   label="RESOURCE NAME"}}}
      {{{std-string-input             "mm.ent.ResourceNote"   label="RESOURCE NOTE"}}}
    </div>
  </section>
</form>
