<form class="{{cssClass}} lancer-sheet" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header card clipped-bot">
      <div class="flexrow">
        <div class="header-fields">
          <h1 class="charname">
            <input
              class="header-field"
              name="name"
              type="text"
              value="{{item.name}}"
              placeholder="Name"
            />
          </h1>
        </div>
        {{{ ref-portrait-img item.img "img" mm.ent }}}
      </div>
    </header>
  
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      {{{textarea-card "DESCRIPTION" "mm.ent.Description"}}}
      {{{textarea-card "CONTROLZONE" "mm.ent.ControlZone"}}}
      {{{textarea-card "DEPLOYMENT"  "mm.ent.Deployment"}}}
      {{{textarea-card "OBJECTIVE"  "mm.ent.Objective"}}}
      {{{textarea-card "PLAYER VICTORY" "mm.ent.PcVictory"}}}
      {{{textarea-card "ENEMY VICTORY" "mm.ent.EnemyVictory"}}}
      {{{textarea-card "NO VICTORY" "mm.ent.NoVictory"}}}
      {{{textarea-card "EXTRACTION" "mm.ent.Extraction"}}}
      {{{textarea-card "TIE" "mm.ent.NoVictory"}}}
    </section>
  </form>
  