<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
    <div class="header-fields" style="grid-area: 1/1/2/5;">
      <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
    <div class="flexcol" style="grid-area: 2/2/3/3; float: right; max-width: min-content;">
      RANK:
      <input class="lancer-stat medium" type="number" name="data.rank" value="{{data.rank}}" data-dtype="Number"/>
    </div>
  </header>
  {{!-- Sheet Body --}}
  <div style="display:grid; grid-template: auto auto / 1fr">
    <div class="flexcol card clipped" style="grid-area: 1/1/2/2; text-align: left;">
      <span class="lancer-stat-header major clipped-top" style="text-align: center;">DESCRIPTION</span>
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
    <div class="flexcol card clipped" style="grid-area: 2/1/3/2; text-align: left;">
      <span class="lancer-stat-header major clipped-top" style="text-align: center;">DETAIL</span>
      {{editor content=data.detail target="data.detail" button=true owner=owner editable=editable}}
    </div>
  </div>
</form>