<form class="{{cssClass}} lancer-sheet" autocomplete="off">
    {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="flexcol grow">
      <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="flexrow">
        <span>RANK:</span>
        {{{l-num-input "mm.ent.CurrentRank" mm.ent.CurrentRank}}}
      </div>
    </div>
    {{{ ref-portrait-img item.img "img" mm.ent }}}
  </header>

  {{!-- Sheet Body --}}
  {{{textarea-card "DESCRIPTION" "mm.ent.Description"}}}

  {{{textarea-card "DETAILS" "mm.ent.Detail"}}}
</form>