<form class="{{cssClass}} lancer-sheet" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header card clipped-bot">
      <div class="flexrow">
        <div class="header-fields">
          <h1 class="charname">
            <input
              class="header-field"
              name="name"
              type="text"
              value="{{item.name}}"
              placeholder="Name"
            />
          </h1>
        </div>
        {{{ ref-portrait-img item.img "img" mm.ent }}}
      </div>
    </header>
  
    {{!-- Sheet Body --}}
    <section class="sheet-body flexrow sheet-weapon-mod">
      <div class="flexcol" style="flex-basis: 66%">
        {{{item-edit-effect               "mm.ent.Effect"}}}
        {{{item-edit-arrayed-actions      "mm.ent.Actions"        "ADDED ACTIONS"}}}
        {{{item-edit-arrayed-damage       "mm.ent.AddedDamage"    "ADDED DAMAGE"}}}
        {{{item-edit-arrayed-range        "mm.ent.AddedRange"     "ADDED RANGE"}}}
        <div class="card full">
          <span class="lancer-header submajor">ADDED TAGS</span>
          {{{mm-tag-list "mm.ent.AddedTags" mm.ent.AddedTags editable}}}
        </div>
        {{{item-edit-arrayed-bonuses      "mm.ent.Bonuses"}}}
        {{{item-edit-arrayed-counters     "mm.ent"}}}
        {{{item-edit-arrayed-deployables  "mm.ent"}}}
        {{{item-edit-arrayed-synergies    "mm.ent"}}}
        {{{item-edit-arrayed-integrated   "mm.ent.Integrated"}}}
        <div class="card full">
          <span class="lancer-header submajor">TAGS</span>
          {{{mm-tag-list "mm.ent.Tags" mm.ent.Tags editable}}}
        </div>
      </div>
      <div class="flexcol" style="flex-basis: 33%;">
        {{{item-edit-license}}}
        {{{item-edit-arrayed-enum         "Allowed Sizes"         "mm.ent.AllowedSizes"     "WeaponSize"}}}
        {{{item-edit-arrayed-enum         "Allowed Types"         "mm.ent.AllowedTypes"     "WeaponType"}}}
        {{{item-edit-uses}}}
      </div>
        {{!-- 
            Fields needed for:
            Arrayed
              Actions -Action-
              AddedDamage -Damage-
              AddedRange -Range-
              AddedTags -Tag-
              AllowedSizes -WeaponSize-
              AllowedTypes -WeaponType-
              Bonuses -Bonus-
              Counters -Counter-
              Deployables -Deployable-
              Synergies -Synergy-
              Tags -Tag-

            Effect
            Integrated
            License
              + LicenseLevel
            * Name
            SP
            Uses (?) (no max uses)

          --}}
    </section>
  </form>
  