<section>
  {{formGroup fields.showHotbar value=config.showHotbar localize=true}}
  {{formGroup fields.allowPlayers value=config.allowPlayers localize=true}}
  {{formGroup fields.printMessages value=config.printMessages localize=true}}
</section>
