<div class="lancerHelpPage">
<h1> LANCER Help </h1>
<h2>Basic Workflows</h2>
<span>
    <p>First, make sure you have your LANCER data imported properly via the compendium manager in the "Compendiums" tab. If you have other non-core content you want imported, this would be the place to do it as well.</p>
    <p>Next, go to the Actors tab and create any PCs you want to use. You can either import from COMP/CON using the RM-4://SYNC tab, or manually build it out yourself. NPCs have to be manually built out for now.</p>
    <p>To manually build out an actor, there are two steps:</p>
    <ol>
        <li>Drag items from the relevant compendiums, such as Mech frames or NPC Features.</li>
        <li>Manually adjust numeric stats if you have any special customizations you want to apply.</li>
    </ol>
</span>


<h2>Helpful Links</h2>
<ul>
    <li><a href="https://github.com/Eranziel/foundryvtt-lancer/wiki/FAQ">FAQ</a></li>
    <li><a href="https://github.com/Eranziel/foundryvtt-lancer/wiki/Resources#modules">Suggested Modules</a></li>
    <li><a href="https://github.com/Eranziel/foundryvtt-lancer/wiki/Resources#macros">Community Macros</a></li>
    <li><a href="https://github.com/Eranziel/foundryvtt-lancer/issues">Bug reports and enhancement suggestions</a></li>
    <li><a href="https://discord.gg/drxVfR3vDn">PilotNET Community</a></li>
</ul>
</div>