:root {
  /* Themes from Comp/Con */
  --theme-background-main: #263237;
  --theme-background-header: #146464;
  --theme-background-value: #2e3e45;
  --theme-background-card: #2e3e4566;
  --theme-text-content: #dbdbdb;
  --theme-text-light: #ffffff;
  --theme-text-flavor: #96a0a0;
  --theme-text-theme: #1dc2c2;

  scrollbar-color: #006262 #162227;
}
