<div class="card clipped-bot" style="margin: 0px;">
  <div class="lancer-weapon-header medium">
    <i class="cci cci-weapon i--m i--light"> </i>
    <span>{{ title }}</span>
  </div>
  <div class="card clipped">
    <div class="lancer-header collapse-trigger" data-collapse-id="{{_uuid}}-attacks">// ATTACK //</div>
    {{#each attacks as |attack key|}}
    <div class="dice-roll lancer-dice-roll collapse" data-collapse-id="{{../_uuid}}-attacks">
      <div class="dice-result">
        <div class="dice-formula lancer-dice-formula flexrow">
          <span style="text-align: left; margin-left: 5px;">{{ attack.roll.formula }}</span>
          <span class="dice-total lancer-dice-total major">{{ attack.roll.total }}</span>
          <i class="cci cci-reticule i--m i--dark"> </i>
        </div>
        <div style="text-align: left;">
          {{{ attack.tt }}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{#if hits}}
  <div class="card clipped">
    <div class="lancer-header collapse-trigger" data-collapse-id="{{_uuid}}-hits">// HIT VS {{defense}} //</div>
    {{#each hits as |hit key|}}
    <div class="lancer-hit collapse" data-collapse-id="{{../_uuid}}-attacks">
      <div>
        <img class="lancer-hit-thumb" src="{{hit.token.img}}" />
      </div>
      <div class="lancer-hit-text">
        <span class="lancer-hit-text-name">{{hit.token.name}}</span>
        {{#if hit.hit}}
        <span class="card clipped lancer-hit-chip hit">{{hit.total}} - HIT</span>
        {{else}}
        <span class="card clipped lancer-hit-chip miss">{{hit.total}} - MISS</span>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}} {{#if damages}}
  <div class="card clipped">
    <div class="lancer-header collapse-trigger" data-collapse-id="{{_uuid}}-damage">// DAMAGE //</div>
    {{#each damages as |damage key|}}
    <div class="dice-roll lancer-dice-roll collapse" data-collapse-id="{{../_uuid}}-damage">
      <div class="dice-result">
        <div class="dice-formula lancer-dice-formula flexrow">
          <span style="text-align: left; margin-left: 5px;">{{ damage.roll.formula }}</span>
          <span class="dice-total lancer-dice-total major">{{ damage.roll.total }}</span>
          <i class="cci cci-{{lower-case damage.d_type}} i--m damage--{{lower-case damage.d_type}}"> </i>
        </div>
        <div style="text-align: left;">
          {{{ damage.tt }}}
        </div>
      </div>
    </div>
    {{/each}} {{#if overkill_heat}}
    <div class="lancer-dice-total flexrow">
      <span style="text-align: left; margin-left: 5px;">OVERKILL!</span>
      <span class="dice-total lancer-dice-total major">{{ overkill_heat }}</span>
      <i class="cci cci-heat i--m damage--heat"> </i>
      {{!-- <button class="overkill-reroll"><i class="fas fa-redo"></i> +d6</button> --}}
    </div>
    {{/if}}
  </div>
  {{/if}} {{#if on_hit}}
  <div class="card clipped">
    <div class="lancer-header collapse-trigger" data-collapse-id="{{_uuid}}-effect">// ON HIT //</div>
    <span class="effect-text collapse" data-collapse-id="{{_uuid}}-effect">{{{on_hit}}}</span>
  </div>
  {{/if}} {{#if effect}}
  <div class="card clipped">
    <div class="lancer-header">// EFFECT //</div>
    {{#if effect.effect_type}} {{{eff-preview effect}}} {{/if}} {{#unless effect.effect_type}}<span class="effect-text"
      >{{{effect}}}</span
    >{{/unless}}
  </div>
  {{/if}} {{{mm-tag-list tags tags}}}
</div>
