<div class="card clipped-bot" data-item-id="{{item_id}}" data-actor-id="{{actor_id}}" style="margin: 0px;">
  <div class="lancer-weapon-header medium">
    <i class="cci cci-weapon i--m i--light"> </i>
    <span>WEAPON :: {{ title }}</span>
  </div>
  <div class="card clipped">
    <div class="lancer-stat-header clipped-top">// ATTACK //</div>
    <div class="dice-roll lancer-dice-roll">
      <div class="dice-result">
        <div class="dice-formula lancer-dice-formula flexrow">
          <span style="text-align: left; margin-left: 5px;">{{ attack.formula }}</span>
          <span class="dice-total lancer-dice-total major">{{ attack.total }}</span>
          <i class="cci cci-reticule i--m i--dark"> </i>
        </div>
        <div style="text-align: left;">
          {{{ attack_tooltip }}}
        </div>
      </div>
    </div>
  </div>
  {{#if damages}}
  <div class="card clipped">
    <div class="lancer-stat-header clipped-top">// DAMAGE //</div>
    {{#each damages as |damage key|}}
      <div class="dice-roll lancer-dice-roll">
        <div class="dice-result">
          <div class="dice-formula lancer-dice-formula flexrow">
            <span style="text-align: left; margin-left: 5px;">{{ damage.roll.formula }}</span>
            <span class="dice-total lancer-dice-total major">{{ damage.roll.total }}</span>
            <i class="cci cci-{{lower-case damage.d_type}} i--m damage--{{lower-case damage.d_type}}"> </i>
          </div>
          <div style="text-align: left;">
            {{{ damage.tt }}}
          </div>
        </div>
      </div>
    {{/each}}
    {{#if overkill_heat}}
      <div class="lancer-dice-total flexrow" style="">
        <span style="text-align: left; margin-left: 5px;">OVERKILL!</span>
        <span class="dice-total lancer-dice-total major">{{ overkill_heat }}</span>
        <i class="cci cci-heat i--m damage--heat"> </i>
        {{!-- <button class="overkill-reroll"><i class="fas fa-redo"></i> +d6</button>  --}}
      </div>
    {{/if}}
  </div>
  {{/if}}
  {{#if on_hit}}
    <div class="card clipped">
      <div class="lancer-stat-header clipped-top">// ON HIT //</div>
      <span class="effect-text">{{{on_hit}}}</span>
    </div>
  {{/if}}
  {{#if effect}}
    <div class="card clipped">
      <div class="lancer-stat-header clipped-top">// EFFECT //</div>
      {{#if effect.effect_type}}
        {{{eff-preview effect}}}
      {{/if}}
      {{#unless effect.effect_type}}<span class="effect-text">{{{effect}}}</span>{{/unless}}
    </div>
  {{/if}}
  {{> tag-list tags=tags}}
</div>

