<div class="card clipped-bot" style="margin: 0px;">
  <div class="lancer-stat-header clipped-top">// OVERHEATING //<br>
      {{val}} / {{max}} REMAINING</div>
  <div class="dice-roll lancer-dice-roll">
    <div class="dice-result">
      <div class="dice-formula lancer-dice-formula flexrow">
        <span class="dice-total lancer-dice-total major">{{title}}</span>
      </div>
      {{#if tt}}
        <div style="text-align: left;">
          {{{tt}}}
        </div>
      {{/if}}
    </div>
  </div>
  {{{text}}}
</div>
