<div class="card clipped-bot" style="margin: 0px;">
    <div class="lancer-stat-header clipped-top">// {{upper-case title}} //</div>
    
    <div class="card clipped" style="padding: 5px">
        <div class="flexcol" style="margin: 10px;">
            <span class="medium flexrow">TRIGGER</span>
            <div class="effect-text flexrow" style="padding: 5px">
              {{{trigger}}}
            </div>
            <span class="medium flexrow">EFFECT</span>
            <div class="effect-text flexrow" style="padding: 5px">
              {{{effect}}}
            </div>
          </div>
        {{> tag-list tags=tags}}
    </div>
</div>