<div class="card clipped-bot" style="margin: 0px;">
  <div class="lancer-header clipped-top">// CHECK :: {{title}} //</div>
    <div class="dice-roll lancer-dice-roll">
      <div class="dice-result">
        <div class="dice-formula lancer-dice-formula flexrow">
          <span style="text-align: left; margin-left: 5px;">{{ roll.formula }}</span>
          <span class="dice-total lancer-dice-total major">{{ roll.total }}</span>
        </div>
        <div style="text-align: left;">
          {{{ roll_tooltip }}}
        </div>
      </div>
    </div>
    {{#if effect}}
      <header>// EFFECT //</header>
      {{{ effect }}}
    {{/if}}
</div>

