<div class="card clipped-bot" style="margin: 0px;">
  <div class="lancer-tech-header medium">
    <i class="cci cci-tech-quick i--m i--light"> </i>
    <span>TECH ATK :: {{ title }}</span>
  </div>
  <div class="card clipped">
    <div class="lancer-stat-header clipped-top">// ATTACK //</div>
    <div class="dice-roll lancer-dice-roll">
      <div class="dice-result">
        <div class="dice-formula lancer-dice-formula flexrow">
          <span style="text-align: left; margin-left: 5px;">{{ attack.formula }}</span>
          <span class="dice-total lancer-dice-total major">{{ attack.total }}</span>
          <i class="cci cci-reticule i--m i--dark"> </i>
        </div>
        <div style="text-align: left;">
          {{{ attack_tooltip }}}
        </div>
      </div>
    </div>
  </div>
  {{#if effect}}
  <div class="card clipped">
    <div class="lancer-stat-header clipped-top">// EFFECT //</div>
    {{#if effect.effect_type}}
      <h3 class="flexrow">{{upper-case effect.effect_type}} EFFECT</h3>
      <span class="effect-text">{{{effect.hit}}}</span>
    {{/if}}
    {{#unless effect.effect_type}}<span class="effect-text">{{{effect}}}</span>{{/unless}}
  </div>
  {{/if}}
  <div class="flexrow" style="justify-content: flex-end; flex-wrap: wrap;">
  {{#each tags as |tag key|}}
  {{{compact-tag tag}}}
  {{/each}}
  </div>
</div>

