
.lancer-card .title {
  text-align: center;
  font-size: 16px;
}
.lancer-card .section-title {
  text-align: center; 
  font-size: 14px; 
  font-weight: bold;
}
.lancer-card .effect-text {
  text-align: right;
  font-size: 12px;
  font-weight: normal;
}
.lancer-dice-roll .lancer-dice-total {
  flex: 0;
  font-size: 20px;
  font-weight: bold;
}
.lancer-dice-roll .lancer-dice-formula,
.lancer-dice-roll .lancer-dice-total {
  flex:0 0 100%;
  position: relative;
  margin: 0px;
  margin-bottom: 5px;
  line-height: 24px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
}

