/* TODO: Maybe multiple stylesheets is a good idea? Check out ITCSS and segment them by their layer */
/* TODO: Webcomponents. Tags, cards, compact stat */

/* Settings Layer*/
:root {
  --main-theme-color: #991e2a;  /* I've configured calls to this to fall back on fuchsia when things go wrong */
  --gms-theme-color: #991e2a;
  --ipsn-theme-color: #1662b8;
  --ssc-theme-color: #d1920a;
  --horus-theme-color: #00a256;
  --ha-theme-color: #6e4373;

  --reaction-clip-path: polygon( 0 0, 100% 0, 100% 1px, calc(100% - 9px) 1px, calc(100% - 8px) 2px, 100% 2px, 100% 3px, calc(100% - 7px) 3px, calc(100% - 6px) 4px, 100% 4px, 100% 5px, calc(100% - 5px) 5px, calc(100% - 4px) 6px, 100% 6px, 100% 7px, calc(100% - 3px) 7px, calc(100% - 2px) 8px, 100% 8px, 100% 100%, 0 100% );
  --reaction-color: #0a7674;
  --tech-clip-path: polygon( 0 0, calc(100% - 12px) 0, calc(100% - 12px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 0, 100% 0, 100% 3px, calc(100% - 3px) 3px, calc(100% - 3px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 12px, 100% 12px, 100% 100%, 0 100% );
  --tech-color: #7d2477;
}
/* ---------- */

/* Elements Layer */
.lancer.sheet .window-content *:not(.fas) {
  font-family: Helvetica;
}

.lancer.sheet select {
  width: min-content;
}

.lancer.sheet .mount-header select {
  color: white;
  outline: 0;
  border: none;
}

.lancer.sheet .mount-header select option {
  background-color: var(--main-theme-color, fuchsia);
  color: white;
}
/* ---------- */

/* Components Layer */
.lancer.sheet .window-content {
  background: #ededed; /* Overwrite the parchment background */
}

.lancer.sheet header:not(.window-header) {
  display: grid;
  grid-template: 1.5fr 1fr 30px / 1fr 1fr 1.5fr 1fr 120px;
  background-color: var(--main-theme-color, fuchsia);
  margin: 10px;
  color: white;
}

.lancer.sheet header .details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 10px;
}

.lancer.sheet header img {
  grid-area: 1/5/4/6;
  margin: 10px;
}

.pilot-callsign {
  font-size: 34px;
  font-weight: bold;
}

.lancer.sheet .reaction,
.lancer.sheet .tech,
.lancer.sheet .mount-header {
  color: white;
  background-color: var(--main-theme-color, fuchsia);
  padding: 0 15px;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  max-height: 2.0em;
  min-height: 2.0em;
  grid-template-columns: 40px 1fr 40px;
  align-items: center;
  text-overflow: ellipsis;
}

.lancer.sheet .reaction {
  clip-path: var(--reaction-clip-path);
  -webkit-clip-path: var(--reaction-clip-path);
  background-color: var(--reaction-color);
}

.lancer.sheet .tech {
  clip-path: var(--tech-clip-path);
  -webkit-clip-path: var(--tech-clip-path);
  background-color: var(--tech-color);
}

.lancer.sheet .mount-header {
  white-space: nowrap;
  display: inline;
  text-align: right;
}

/* ---------- */

.add-button {
  width: 20px;
  height: 20px;
  background: #d7b6b9;
  text-align: center;
  border: solid var(--main-theme-color, fuchsia);
  border-width: 1px;
  border-radius: 4px;
  font-weight: bold;
  color: var(--main-theme-color, fuchsia);
}

.remove-button {
  width: 20px;
  height: 20px;
  background: #bebebe;
  border: solid #3e3e3e;
  border-width: 1px;
  border-radius: 4px;
  text-align: center;
  color: #8e8e8e;
  padding-top: 2px 
}

.tags-container > div {
  flex-grow: 0;
}

.tag {
  border: solid var(--main-theme-color, fuchsia);
  border-color: var(--main-theme-color, fuchsia);
  border-width: 1px;
  border-radius: 5px;
  border-left-width: 7px;
  margin: 2px;
}

.tag-label {
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.license-desc {
  display: flex;
}

.license-desc > input::-webkit-outer-spin-button,
.license-desc > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.license-desc > input[type=number] {
  -moz-appearance:textfield; /* Firefox */
  width: 3ch;
}

.license-desc > input, .license-desc > span {
  background: transparent;
  border: none;
  color: #828282;
  width: 12ch;
}

.license-desc > span {
  font-size: 13px;
  margin-top: 2px;
  width: 3ch;
}

.labeled-input {
  flex-grow: unset;
}

.labeled-input > span {
  text-align: center;
  color: white;
  background-color: var(--main-theme-color, fuchsia);
  max-height: 1.5em;
}

.lancer-invisible-input {
  background: transparent;
  border: none;
}

.small-icon {   
  flex-grow: 0;
  min-width: 1em;
  max-height: 1em;
}

.med-icon {
  flex-grow: 0;
  max-width: 2.5em;
  max-height: 2.5em;
}

.large-icon {
  flex-grow: 0;
  min-width: 5em;
  max-height: 5em;
}

.i--xs {
  font-size: 15px;
  min-width: 15px;
  max-width: 15px;
  min-height: 15px;
  max-height: 15px;
}

.i--s {
  font-size: 20px;
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
}

.i--m {
  font-size: 30px;
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
}

.i--l {
  font-size: 40px;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
}

.i--xl {
  font-size: 60px;
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
}

.i--dark {
  color: #2e2e2e;
}

.i--faded {
  color: #696969;
}

.i--light {
  color: #ededed;
}

.damage--kinetic {
  color: #757575;
}

.damage--energy {
  color: #29B6F6;
}

.damage--explosive {
  color: #FFA726;
}

.damage--burn {
  color: #FFA726;
}

.damage--heat {
  color: #FF7043;
}

.damage--variable {
  color: #D500F9;
}

.clipped {
  clip-path: polygon( 10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px );
  -webkit-clip-path: polygon( 10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px );
}

.clipped-top {
  clip-path: polygon( 10px 0, 100% 0, 100% 100%, 0 100%, 0 10px );
  -webkit-clip-path: polygon( 10px 0, 100% 0, 100% 100%, 0 100%, 0 10px );
}

.clipped-bot {
  clip-path: polygon( 0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100% );
  -webkit-clip-path: polygon( 0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100% );
}

.lancer-tabs {
  clip-path: polygon( 0 0, 100% 0, calc(100% - 20px) 100%, 0 100% );
  -webkit-clip-path: polygon( 0 0, 100% 0, calc(100% - 20px) 100%, 0 100% );
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: var(--main-theme-color, fuchsia);
  color: white;
  padding: 10px;
}

.lancer-tab {
  clip-path: polygon( 10px 0, 100% 0, calc(100% - 10px) 100%, 0 100% );
  -webkit-clip-path: polygon( 10px 0, 100% 0, calc(100% - 10px) 100%, 0 100% );
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.lancer-tab.active {
  color: var(--main-theme-color, fuchsia);
  background-color: #f0f0f0;
}

/* TODO: Factor out */
.lancer-mech-trait-header,
.lancer-core-sys-header,
.lancer-talent-header,
.lancer-system-header,
.lancer-trigger-header,
.lancer-protocol-header,
.lancer-weapon-header {
  color: white;
  background-color: var(--main-theme-color, fuchsia);
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  max-height: 2.0em;
  min-height: 2.0em;
  grid-template-columns: 40px 1fr 40px;
  align-items: center;
  text-overflow: ellipsis;
}

.lancer-mount-container {
  margin: 3px;
  flex: 1 0 0;
  justify-content: space-evenly;
  align-content: stretch;
  min-width: 33%;
  max-width: 66%;
}

.lancer-core-sys-header {
  grid-template-columns: 40px 1fr 140px;
}

.lancer-mount-body {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 45px;
  border-style: dashed;
  border-width: 2px;
  border-color: var(--main-theme-color, fuchsia);
  border-top-style: none;
  white-space: pre;
}

.lancer-talent-container {
  margin: 3px;
}

.lancer-talent-header {
  background-color: #3a81c3;
}

.lancer-talent-body {
  min-height: 15px;
  border-style: dashed;
  border-width: 2px;
  border-color: #3a81c3;
  border-top-style: none;
  text-align: left;
  justify-content: left;
  white-space: pre-wrap;
  hyphens: auto;
  word-break: break-word;
  background-color: #3a81c333;
  clip-path: polygon( 0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100% );
  -webkit-clip-path: polygon( 0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100% );
}

.lancer-system-header {
  clip-path: polygon( 0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%, 0 100% );
  -webkit-clip-path: polygon( 0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%, 0 100% );
  background-color: #67bc45;
}

.lancer-trigger-header {
  color: var(--main-theme-color, fuchsia);
  background-color: white;
}

.lancer-protocol-header {
  background-color: #c75a00;
}

.lancer-weapon-header {
  background-color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lancer-weapon-body {
  min-height: 15px;
  border-style: dashed;
  border-width: 2px;
  border-color: #000000;
  border-top-style: none;

  padding: 3px;

  text-align: center;
  white-space: pre-wrap;
  hyphens: auto;
  word-break: break-word;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: fit-content(0) fit-content(0) fit-content(0);

  background-color: #00000033;
}

.lancer-weapon-container {
  margin: 3px;
}

.compact-tag {
  color: white;
  background-color: var(--main-theme-color, fuchsia);
  max-width: fit-content;
  min-width: fit-content;
  align-items: center;
  border-radius: 5px;
  padding: 0px 5px;
  margin: 3px 5px;
  border: 2px;
  font-size: 12px;
}

.pilot-stats {
  clip-path: polygon( 0 0, calc(100% - 30px) 0, 100% 100%, 0 100% );
  -webkit-clip-path: polygon( 0 0, calc(100% - 30px) 0, 100% 100%, 0 100% );
  background-color: #CCCCCC;
  grid-area: 3/1/4/5;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 5px;
  padding-right: 30px;
  align-items: center;
}

.compact-stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5px;
}

.size-icon {
  font-size: 120px;
  min-width: 120px;
  max-width: 120px;
  min-height: 120px;
  max-height: 120px;
}

.pilot-loadout {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr ;
}

.header-name {
  align-self: center;
  height: -webkit-fill-available;
}

.editor {
  height: -webkit-fill-available;
  min-height: 100px;
}

.editor-content {
  min-height: 5em;
}

.card {
  background-color: rgba(0,0,0,0.07);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
}
.card .lancer-title {
  margin-left: 0px;
  margin-right: 0px;
}

.major {
  font-size: 18px;
  font-weight: bold;
}

.medium {
  font-size: 14px;
  font-weight: bold;
}

.minor {
  font-size: 12px;
  font-weight: bold;
}

.lancer-title {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: white;
  background-color: var(--main-theme-color, fuchsia);
}

.lancer-stat-header {
  align-items: center;
  color: white;
  background-color: var(--main-theme-color, fuchsia);
  max-height: fit-content;
}

.lancer-stat-input {
  align-self: center;
  text-align: center;
  max-width: 50px;
  min-width: 30px;
}

.lancer-text-input {
  align-self: center;
  text-align: left;
  width: calc(100% - 20px);
  margin: 5px;
}

.desc-text {
  text-align: left;
  padding: 0.5em;
}

.effect-text {
  text-align: left;
  padding: 0.5em;
}

.skill-compact {
  display: grid;
  grid-template: 2.0em 1fr / 50px 1fr;
  margin-right: 25px;
}

.cb-compact {
  display: grid;
  grid-template: 2.0em 1fr / 1fr;
  margin-right: 25px;
}

.talent-compact {
  display: grid;
  grid-template: 2.0em 1fr / 30px 1fr 30px;
  margin-right: 25px;
}

.talent-rank-compact {
  display: grid;
  grid-template: 2.5em 1fr / 30px 1fr;
}

.frame-trait-compact {
  display: grid;
  grid-template: 2.0em 1fr / 1fr;
  margin: 10px;
}

/* .frame-core {
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr;
} */

code {
  padding: 4px 12px 4px 12px;
}

code.horus {
  font-size: 1.1em;
  background-color: rgba(0, 0, 0, 0.7) !important;
  box-shadow: none;
  color: white;
  font-style: normal;
  letter-spacing: 0.05em;
  border-radius: 0;
}

code.horus:hover {
  background-color: black !important;
  animation: distort 0.6s infinite;
  text-transform: uppercase;
  font-weight: bold;
}

.horus--subtle {
  animation: distort-subtle 5s infinite;
}

.lancer-card .title {
  text-align: center;
  font-size: 16px;
}
.lancer-card .section-title {
  text-align: center; 
  font-size: 14px; 
  font-weight: bold;
}
.lancer-card .effect-text {
  text-align: right;
  font-size: 12px;
  font-weight: normal;
}
.lancer-dice-roll .lancer-dice-total {
  flex: 0;
  font-size: 20px;
  font-weight: bold;
}
.lancer-dice-roll .lancer-dice-formula,
.lancer-dice-roll .lancer-dice-total {
  flex:0 0 100%;
  position: relative;
  margin: 0px;
  margin-bottom: 5px;
  line-height: 24px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
}

