.add-button {
  width: 20px;
  height: 20px;
  background: #d7b6b9;
  text-align: center;
  border: solid #991e2a;
  border-width: 1px;
  border-radius: 4px;
  font-weight: bold;
  color: #991e2a;
}

.remove-button {
  width: 20px;
  height: 20px;
  background: #bebebe;
  border: solid #3e3e3e;
  border-width: 1px;
  border-radius: 4px;
  text-align: center;
  color: #8e8e8e;
  padding-top: 2px 
}

.tags-container > div {
  flex-grow: 0;
}

.tag {
  border: solid #991e2a;
  border-color: #991e2a;
  border-width: 1px;
  border-radius: 5px;
  border-left-width: 7px;
  margin: 2px;
}

.tag-label {
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.license-desc {
  display: flex;
}

.license-desc > input::-webkit-outer-spin-button,
.license-desc > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.license-desc > input[type=number] {
  -moz-appearance:textfield; /* Firefox */
  width: 3ch;
}

.license-desc > input, .license-desc > span {
  background: transparent;
  border: none;
  color: #828282;
  width: 12ch;
}

.license-desc > span {
  font-size: 13px;
  margin-top: 2px;
  width: 3ch;
}

.labeled-input {
  flex-grow: unset;
}

.labeled-input > span {
  text-align: center;
  color: white;
  background-color: #991e2a;
  max-height: 1.5em;
}

select {
  width: min-content;
}

.lancer-invisible-input {
  background: transparent;
  border: none;
}

.small-icon {   
  flex-grow: 0;
  min-width: 1em;
  max-height: 1em;
}

.med-icon {
  flex-grow: 0;
  max-width: 2.5em;
  max-height: 2.5em;
}

.large-icon {
  flex-grow: 0;
  min-width: 5em;
  max-height: 5em;
}

.clipped {
  clip-path: polygon( 10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px );
  -webkit-clip-path: polygon( 10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px );
}

.clipped-top {
  clip-path: polygon( 10px 0, 100% 0, 100% 100%, 0 100%, 0 10px );
  -webkit-clip-path: polygon( 10px 0, 100% 0, 100% 100%, 0 100%, 0 10px );
}

.clipped-bot {
  clip-path: polygon( 0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100% );
  -webkit-clip-path: polygon( 0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100% );
}

.lancer-reaction-header,
.lancer-tech-header,
.lancer-talent-header,
.lancer-system-header,
.lancer-trigger-header,
.lancer-protocol-header,
.lancer-weapon-header {
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin: 3px;
  display: inline-block;
  white-space: pre-wrap;
}

.lancer-reaction-header {
  clip-path: polygon( 0 0, 100% 0, 100% 1px, calc(100% - 9px) 1px, calc(100% - 8px) 2px, 100% 2px, 100% 3px, calc(100% - 7px) 3px, calc(100% - 6px) 4px, 100% 4px, 100% 5px, calc(100% - 5px) 5px, calc(100% - 4px) 6px, 100% 6px, 100% 7px, calc(100% - 3px) 7px, calc(100% - 2px) 8px, 100% 8px, 100% 100%, 0 100% );
  -webkit-clip-path: polygon( 0 0, 100% 0, 100% 1px, calc(100% - 9px) 1px, calc(100% - 8px) 2px, 100% 2px, 100% 3px, calc(100% - 7px) 3px, calc(100% - 6px) 4px, 100% 4px, 100% 5px, calc(100% - 5px) 5px, calc(100% - 4px) 6px, 100% 6px, 100% 7px, calc(100% - 3px) 7px, calc(100% - 2px) 8px, 100% 8px, 100% 100%, 0 100% );
  background-color: #0a7674;
}

.lancer-tech-header {
  clip-path: polygon( 0 0, calc(100% - 12px) 0, calc(100% - 12px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 0, 100% 0, 100% 3px, calc(100% - 3px) 3px, calc(100% - 3px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 12px, 100% 12px, 100% 100%, 0 100% );
  -webkit-clip-path: polygon( 0 0, calc(100% - 12px) 0, calc(100% - 12px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 0, 100% 0, 100% 3px, calc(100% - 3px) 3px, calc(100% - 3px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 12px, 100% 12px, 100% 100%, 0 100% );
  background-color: #7d2477;
}

.lancer-talent-header {
  background-color: #3a81c3;
}

.lancer-system-header {
  clip-path: polygon( 0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%, 0 100% );
  -webkit-clip-path: polygon( 0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%, 0 100% );
  background-color: #67bc45;
}

.lancer-trigger-header {
  color: #991e2a;
  background-color: white;
}

.lancer-protocol-header {
  background-color: #c75a00;
}

.lancer-weapon-header {
  background-color: #000000;
}

.sheet-bg {
  background-color: #ccc;
}

.editor {
  height: -webkit-fill-available;
  min-height: 100px;
}

.editor-content {
  min-height: 5em;
}

.card {
  background-color: rgba(0,0,0,0.07);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.card .lancer-title {
  margin-left: 0px;
  margin-right: 0px;
}

.major {
  font-size: 18px;
  font-weight: bold;
}

.medium {
  font-size: 14px;
  font-weight: bold;
}

.minor {
  font-size: 12px;
  font-weight: bold;
}

.lancer-title {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: white;
  background-color: #991e2a;
}

.lancer-stat-header {
  text-align: center;
  color: white;
  background-color: #991e2a;
  max-height: 1.5em;
}

.lancer-stat-input {
  align-self: center;
  text-align: center;
  max-width: 50px;
}

.lancer-text-input {
  align-self: center;
  text-align: left;
  width: calc(100% - 20px);
  margin: 5px;
}

.lancer-card .title {
  text-align: center;
  font-size: 16px;
}
.lancer-card .section-title {
  text-align: center; 
  font-size: 14px; 
  font-weight: bold;
}
.lancer-card .effect-text {
  text-align: right;
  font-size: 12px;
  font-weight: normal;
}
.lancer-dice-roll .lancer-dice-total {
  flex: 0;
  font-size: 20px;
  font-weight: bold;
}
.lancer-dice-roll .lancer-dice-formula,
.lancer-dice-roll .lancer-dice-total {
  flex:0 0 100%;
  position: relative;
  margin: 0px;
  margin-bottom: 5px;
  line-height: 24px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
}

